<div class="panel panel-success " style="margin-right: 20%;margin-left: 20%;">
  <div class="panel-heading">
    <h2 class="panel-title text-center">Edit rfid</h2>
  </div>
  <div class="panel-body" ng-init="getAllBatchesRfid();">
    <div class="form-group col-md-4 col-sm-4">
      <label for="batch"> Batch</label>
      <select class="form-control cap" ng-model="batchName">
        <div ng-if="batches.length"> 
          <option ng-repeat="batch in batches">{{batch.batchname}}</option>
        </div>
      </select>
    </div>
  </div>

  <div class="panel-footer">
  	<div align="right"><button class="btn btn-success" ng-click="getRfidList();">Get List</button></div>
    
  </div>
</div>


<div ng-show="rfidList.length">
	

<table class="table table-responsive table-striped table-bordered table-hover" >
  <thead class="w3-blue">
    <tr>
      <th>Batch</th>
      <th>RollNo</th>
      <th>Card ID:</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="card in rfidList">
      <td>{{card.batchname}}</td>
      <td> {{card.RollNo}}</td>
      <td><input class="input-xs" type="text" ng-model="card.cardId"></td>
    </tr>
  </tbody>
</table>  

<div align="right">
   <button class="btn btn-success" ng-click="saveRfidList();">Save List</button>
</div>
   

</div>