<div>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" id="sidebarCollapse" class="btn btn-primary btn-xs navbar-brand">
          ESPL
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="#adminDashboard"><i class="fa fa-tachometer fa-lg" aria-hidden="true"></i> </a>
          </li>
          <li class="dropdown">
            <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Students <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#student">Admitted</a></li>
              <li ng-show="loggedIn"><a href="#enquiry">Enquiry</a></li>
              <li ng-show="loggedIn"><a href="#feesReport">Fee Reports</a></li>
            </ul>
          </li>
          <li ng-show="loggedIn" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Staff <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#staffList">Staff List</a></li>
            <li><a href="#staffAttendance">Staff Attendance</a></li>
          </ul>
        </li>       
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ng-show="loggedIn"><a ng-click="getCities();" href="#message"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></li>
          <li><a href="#search"><i class="fa fa-search fa-lg" aria-hidden="true"></i></a></li>
          <li class="active"><a href="#adminpanel" ng-show="loggedIn && showeditables=='true'"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></a></li>
          <li><a data-toggle="modal" data-target="#loginModal" href="#" target="_self" ng-show="!loggedIn"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
         <li>
          <div class="dropdown" ng-show="loggedIn">
            <button style="display: block; margin-top: 15px;" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i> {{loginData.staffname}}
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#changepwd"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a></li>
              <li><a href="" target="_self" ng-click="logout('/')"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
            </ul>
          </div>
        </li>
        </ul>
      </div>
    </div>
  </nav>

<div style="margin-top:65px">

  <!-- <ul class="breadcrumb">
  <li><a href="#adminpanel">Admin Panel</a></li>
  <li>Syllabus</li>
  </ul> -->

	<div ng-init="getallbatches();">
		<!-- <div class="alert alert-info">
			<strong>Create Yearly Syllabus</strong>
	    </div> -->

	    <div>
	    	<div style="margin-top: 10px" class="row w3-padding">
          <div class="col-md-9">
	    		<div ng-init="getSyllabus();countP=10;">
		    		<table class="table table-responsive table-striped table-condensed table-hover table-bordered">
					    <thead style="background-color: #0079bf; color: white">
					      <tr>
					        <th>#</th>
					        <th>Acedemic Year</th>
					        <th>Syllabus Name</th>
					        <th><i class="fa fa-cog fa-spin fa-fw"></i></th>
					      </tr>
					    </thead>
					    <tbody>
		                    <tr dir-paginate="x in allsyll | itemsPerPage:countP">
		                    	<td>{{$index+1}}</td>
		                    	<td>{{x.syllyear}}</td>
		                    	<td>{{x.syllName}}</td>
		                    	<td width="20%">
						            <a class="btn btn-success btn-xs" href="#viewSyllabus" ng-click="savesyllabusId(x._id)"><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                        <a class="btn btn-primary btn-xs" href="#editSyllabus" ng-click="savesyllabusId(x._id)"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                        <button class="btn btn-danger btn-xs" ng-click="deleteSyllabus(x._id);"><i class="fa fa-trash" aria-hidden="true"></i>Delete</button>
						        </td>
		                    </tr>
		                </tbody>
					</table>

          <div class="row">
                  <!-- dir-paginate  | itemsPerPage:countP  countP=10;-->

                  <div class="col-md-6">
                    <dir-pagination-controls
               max-size="5"
               direction-links="true"
               boundary-links="true" >
              </dir-pagination-controls>
                  </div>
                  

              <div class="col-md-6">
                <select  ng-model="countPerPage" ng-change="countP = countPerPage" style="width: 30%;">
                  <option value="" selected disabled>Items Per Page</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="99">All</option>
                          </select>
              </div>
              

                </div>

				</div>
        </div>

        <div style="border: 3px solid green; padding: 10px;border-radius: 5px;" class="col-md-3">
          <div class="w3-center">
            <i style="font-size: 40px" class="fa fa-book" aria-hidden="true"></i> <span style="font-size: 30px"><br>Create Syllabus</span><hr>
          </div>
            <form>

              <div class="form-group w3-margin-right">
              <label for="batch">Syllabus Name: </label><br>
              <input class="form-control" type="text" name="syllName" ng-model="syllName">
            </div>

              <!-- <div class="form-group w3-margin-right">
              <label for="batch">Batch: </label><br>
              <select class="form-control" id="batch" ng-model="syllBatch" multiple>
                    <option ng-repeat="x in batches">{{x}}</option>
                  </select>
            </div> -->

            <div class="form-group w3-margin-right">
              <label for="year">For Academic Year: </label><br>
              <select class="form-control" id="year" ng-model="syllyear">
                    <option>2017-2018</option>
                    <option>2018-2019</option>
                    <option>2019-2020</option>
                  </select>
            </div>
            <!-- <div class="form-group">
              <label for="ttDate">For Date: </label>
              <datepicker date-format="dd-MMM-yy">
                <input class="form-control" type="text" id="ttDate" ng-model="ttDate">
              </datepicker>
            </div> -->
            <!-- <div class="form-group">
              <label for="endDate">End Date: </label>
                <datepicker date-format="dd-MMM-yy">
                <input class="form-control" id="endDate" ng-model="endDate">
              </datepicker>
            </div> -->
            <button style="margin: auto;width: 100%;padding: 10px" type="submit" class="btn btn-success" ng-click="createSyllabus()">Create</button>
          </form>
          </div>
	    	</div>
	    </div>

<script>
$(document).ready(function(){
  $('#sidebarCollapse').on('click', function () {
             $('#sidebar').toggleClass('active');
             $('#main').toggleClass('active');
         });
});
</script>