<style type="text/css">
  .table{
    font-size: 15px;
    border-collapse: collapse;
    width: 50%;
  }

  #subjecttable td {
   padding:0; margin:0;
}

</style>
<div>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" id="sidebarCollapse" class="btn btn-primary btn-xs navbar-brand">
          ESPL
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="#adminDashboard"><i class="fa fa-tachometer fa-lg" aria-hidden="true"></i> </a>
          </li>
          <li class="dropdown">
            <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Students <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#student">Admitted</a></li>
              <li ng-show="loggedIn"><a href="#enquiry">Enquiry</a></li>
              <li ng-show="loggedIn"><a href="#feesReport">Fee Reports</a></li>
            </ul>
          </li>
          <li ng-show="loggedIn" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Staff <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#staffList">Staff List</a></li>
            <li><a href="#staffAttendance">Staff Attendance</a></li>
          </ul>
        </li>       
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ng-show="loggedIn"><a ng-click="getCities();" href="#message"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></li>
          <li><a href="#search"><i class="fa fa-search fa-lg" aria-hidden="true"></i></a></li>
          <li class="active"><a href="#adminpanel" ng-show="loggedIn && showeditables=='true'"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></a></li>
          <li><a data-toggle="modal" data-target="#loginModal" href="#" target="_self" ng-show="!loggedIn"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
         <li>
          <div class="dropdown" ng-show="loggedIn">
            <button style="display: block; margin-top: 15px;" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i> {{loginData.staffname}}
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#changepwd"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a></li>
              <li><a href="" target="_self" ng-click="logout('/')"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
            </ul>
          </div>
        </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container-fluid" style="margin-top: 65px">
  <!-- <ul class="breadcrumb">
  <li><a href="#adminpanel">Admin Panel</a></li>
  <li><a href="#createSyllabus">Syllabus</a></li>
  <li>View</li>
  </ul> -->
  <div ng-init="getSyllabus(1)" style="margin-left: 25%;margin-top: 10px">
    <!-- {{syll}} -->
<!--      <div class="container" ng-init="getSyllabus(1)" style="margin-top:10%;margin-left:10%;margin-right: 10%">
 -->    <!-- <span style="font-size: 30px; margin-left: 40%"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{syll[0].syllBatch}} - {{syll[0].syllyear}}</span> -->
    <table id="subjecttable" class="table table-bordered table-condensed">
 
      <thead class="w3-cyan w3-text-white">
        <tr>
        <th style="padding-left: 10px">#</th>
        <th style="padding-left: 10px">SUBJECT</th>
        <th style="padding-left: 10px">TOPIC / HRS</th>
        <!-- <td>TOPIC NAME</td> -->
        <!-- <td><i class="fa fa-cog fa-spin fa-fw"></i></td> -->
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in syll[0].syllabus.subject" ng-init="subjectindex=$index">
          <td style="padding-left: 10px">{{$index+1}}</td>
          <td style="padding-left: 10px">
            <span>{{syll[0].syllabus.subject[$index].subject}}</span>
            <!-- <input class="form-control" type="text" name="subject" ng-model="syll[0].syllabus.subject[$index].subject" readonly="true"> -->
          </td>
          <td>
            <table style="width: 100%; height: 100%" class="table-bordered">
              <tbody>
              <tr ng-repeat="y in syll[0].syllabus.subject[subjectindex].topic">
                <td style="padding-left: 10px">
                  {{syll[0].syllabus.subject[subjectindex].topic[$index].topicname}}
                  <!-- <input class="form-control" type="text" name="subject" ng-model="syll[0].syllabus.subject[subjectindex].topic[$index].topicname" readonly="true"> -->
                </td>
                <td style="padding-left: 10px">
                  {{syll[0].syllabus.subject[subjectindex].topic[$index].hours}}
                  <!-- <input class="form-control" type="text" name="subject" ng-model="syll[0].syllabus.subject[subjectindex].topic[$index].topicname" readonly="true"> -->
                </td>
              </tr>
              </tbody>
            </table>
          </td>
           <!-- <td align="center" rowspan="syll[0].syllabus.subject[subjectindex].topic[$index].topicname.length">
            <input class="form-control" type="text" name="topic" ng-model="newtopic[$index]" placeholder="Add topic in {{syll[0].syllabus.subject[$index].subject}}"><br>
            <a class="btn btn-primary btn-sm" href="" ng-click="addtopic($index)"><i class="fa fa-plus"> ADD</i>
            </a></td> -->           
        </tr>
         
      </tbody>
    </table>
   <!--   <a class="btn btn-primary btn-xs" href="" ng-click="addsubjectinsyll()"> <i class="fa fa-plus"></i></a> -->


    <!-- <table class="table table-bordered table-condensed">
      <thead class="w3-cyan w3-text-white">
        <tr>
        <td style="width: 40px">SUBJECT</td>
        <td style="width: 80px">TOPIC</td>
      
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in subject" ng-init="subjectindex=$index">
          <td colspan="0"><input type="text" name="subject" ng-model="subject[$index].subject"></td>
          <td>
            <table>
              <tr ng-repeat="y in subject[subjectindex].topic">
                <td><input type="text" name="subject" ng-model="subject[subjectindex].topic[$index].topicname"></td>
              </tr>
            </table>
         
             <td align="center"> <a class="btn btn-primary btn-xs" href="" ng-click="addtopic($index)"><i class="fa fa-plus"></i></a></td>
          </td>
        </tr>
          <td align="center"><a class="btn btn-primary btn-xs" href="" ng-click="addsubjectinsyll()"> <i class="fa fa-plus"></i></a></td>
        
      </tbody>
    </table> -->
<!--   </div> -->
   <!-- <div class="col-md-3" style="margin-top:0%;margin-left:2%;margin-right: 2%;text-align: center">
     <h2>Add new Subject</h2>
      <input class="form-control" type="text" name="subject" ng-model="newsubject" placeholder= "Add new Subject">
      <br>
        <a class="btn btn-primary btn-sm" href="" ng-click="addsubjectinsyll()"> <i class="fa fa-plus"></i> ADD</a>
        <hr>
        <div  style="text-align: center"><a href="" class="btn btn-danger" ng-click="savesyllabus();">Submit</a></div>


   </div> -->
  

</div>
 
</div>

<script>
$(document).ready(function(){
  $('#sidebarCollapse').on('click', function () {
             $('#sidebar').toggleClass('active');
             $('#main').toggleClass('active');
         });
});
</script>