<style type="text/css">
  .studentName:hover {color: white; background-color: #5A827F; padding: 5px 11px; border: 2px solid #5a827f;}
</style>
<!-- <script type="text/javascript">
  $(document).on('click', '.open-login', function(event) {
    event.preventDefault();
    $('#modal-login').iziModal('open');
  });
  $('#modal-login').iziModal({title: 'Login',subtitle: 'Login for more details',headerColor: '#f44274',top: 70,appendTo: '.body',closeButton: true,transitionIn:'flipInX', icon:'fa fa-sign-in',iconColor: '#fff',});
</script> -->
<div ng-init="getUsertypes();">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">ESPL</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#adminDashboard"><i class="fa fa-tachometer fa-2x" aria-hidden="true"></i> </a>
          </li>
          <li class="dropdown">
            <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Students <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#student">Admitted</a></li>
              <li ng-show="loggedIn"><a href="#enquiry">Enquiry</a></li>
              <li ng-show="loggedIn"><a href="#feesReport">Fee Reports</a></li>
            </ul>
          </li>
          <li ng-show="loggedIn" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Staff <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#staffList">Staff List</a></li>
            <li><a href="#staffAttendance">Staff Attendance</a></li>
          </ul>
        </li>       
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ng-show="loggedIn"><a ng-click="getCities();" href="#message"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a></li>
          <li><a href="#search"><i class="fa fa-search fa-2x" aria-hidden="true"></i></a></li>
          <li><a href="#adminpanel" ng-show="loggedIn && showeditables=='true'"><i class="fa fa-cog fa-2x" aria-hidden="true"></i></a></li>
          <li><a data-toggle="modal" data-target="#loginModal" href="#" target="_self" ng-show="!loggedIn"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
         <li>
          <div class="dropdown" ng-show="loggedIn">
            <button style="display: block; margin-top: 15px;" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i> {{loginData.staffname}}
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#changepwd"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a></li>
              <li><a href="" target="_self" ng-click="logout('/')"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
            </ul>
          </div>
        </li>
        </ul>
      </div>
    </div>
  </nav>
  <div>
    <div class="container-fluid" style="margin-top:75px">
      <div ng-init="getStudentsForAttendance();getSchools();reverse=true;f={};count=0;getStaffList();getBatchforStaffAttendance();">

      	<ul class="breadcrumb">
	      <li><a href="#student">Student</a></li>
	      <li>Student Attendance</li>
	      </ul>
        <!-- <a data-toggle="tooltip" title="Add New Student" class="kc_fab_main_btn" href="#enquiryForm"><i style="padding: 10px;" class="fa fa-plus fa-3x" aria-hidden="true"></i></a> -->
        <!-- <div class="alert alert-info"><strong>Students - {{batchname}} {{loginData.staffname}}</strong></div> -->
        <!-- <div style="padding: 15px" class="w3-indigo w3-text-white col-md-12 w3-margin-bottom"><div align="left"><span style="font-size: 18px">Students - {{batchname}}</span></div></div> -->
        <!-- <span style="font-size: 35px; margin-left: 45%"><i class="fa fa-university" aria-hidden="true"></i> {{batchname}}</span> -->
        <!-- <div class="container" style="margin-top: 25px"><button class="w3-button w3-round-large w3-blue w3-right"><i class="fa fa-plus" aria-hidden="true"></i> Add New Student </button></div> -->
        <!-- <div class="checkbox"><label><input type="checkbox" class="check" id="checkAll" ng-click="checkAll()" ng-model="selectAll"> Check All
        </label></div> -->
        <div id="section1" ng-show="loggedIn">
          <div ng-show="loggedIn" class="row">
            <div class="col-sm-9 col-md-9">
              <div  ng-if="studentList.length">
                <table class="table table-hover table-condensed table-bordered">
                  <thead class="alert-success">
                    <tr>
                      <th >Roll No.
                      </span>
                    </th>
                    <th ng-click="myOrderBy='firstName';reverse=!reverse">Name
                      <span class="glyphicon glyphicon-sort"   style="float:right;"></span>
                    </th>
                    <th ng-click="myOrderBy='studentMobile'; reverse=!reverse">Mobile
                      <span class="glyphicon glyphicon-sort"   style="float:right;"></span>
                    </th>
                    <th><i class="fa fa-cog fa-2x fa-spin"></i></th>
                        
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr><td>demo</td></tr> -->
                  <tr>
                    <td></td>
                    <td>
                      <input ng-model="f.firstName" placeholder="search by name">
                      </td>
                      <td>
                        <input ng-model="f.studentMobile" placeholder="search by mobile no">
                        </td>
                        <td>
                          <input type="checkbox" ng-click="toggleSelect($event)" />
                        </td>

                      </tr>
                      <tr ng-repeat="x in studentList |filter:{firstName: f.firstName, studentMobile: f.studentMobile,Email:f.Email,schoolName:schoolname,gender:selectgender,optionallang:Optionallang}|orderBy:myOrderBy:reverse">
                        <td>{{$index+1}}</td>
                        <!-- gender -->
                        <td>
                          <a class="studentName" style="text-decoration : none">{{x.firstName}} {{x.middleName}} {{x.lastName}}</a>
                        </td>
                        <td>{{x.studentMobile}}</td>
                        <td style="text-transform: lowercase;">
                          <input type="checkbox"  ng-model="x.selected"  value={{x._id}} class="checkbox"/>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
                <div ng-if="!studentList.length && !loading">
                  <h1 class="w3-center">
                    <strong>No student Present</strong>
                  </h1>
                </div>
                <loading class="w3-center"></loading>



                <div style="border: 3px solid green; padding: 10px;border-radius: 5px;" class="col-sm-3 col-md-3">

                	<div class="w3-center">
		            	<i style="font-size: 40px" class="fa fa-user" aria-hidden="true"></i> <span style="font-size: 30px"><br>{{batchname}}</span><hr>
		          	</div>

 <div class="form-group col-xs-12">
  <label style="font-size: 15px" class="control-label" ng-model="today" for="today">Dated : {{ today | date:'fullDate'}}</label>
</div>


              <div class="form-group col-xs-12">
                <label class="control-label" for="startTime">Start Time </label>
                <div class="input-group" moment-picker="startTime" format="hh:mm a">
                  <input class="form-control" placeholder="HH:MM am/pm" ng-model="startTime" ng-model-options="{ updateOn: 'blur' }">
                    <span class="input-group-addon">
                      <i class="fa fa-clock-o"></i>
                    </span>
                  </div>
                </div>
                <div class="form-group col-xs-12">
                  <label class="control-label" for="endTime">End Time </label>
                  <div class="input-group" moment-picker="endTime" format="hh:mm a">
                    <input class="form-control" placeholder="HH:MM am/pm" ng-model="endTime" ng-model-options="{ updateOn: 'blur' }">
                      <span class="input-group-addon">
                        <i class="fa fa-clock-o"></i>
                      </span>
                    </div>
                  </div>



                  <div class="form-group col-xs-12">
                       <label  class="control-label">Select Staff</label>
                          <select  ng-model="selectedstaff" class="form-control input-group-lg">
                          	<option value="">Select Staff</option>
                            <option ng-repeat="staff in staffs" value="{{staff}}"> {{staff.fname+" "+staff.lname}} </option>
                          </select>
                  </div>

                   <div class="form-group col-xs-12">
                    <label for="select" class="control-label">Select Batch</label>
                          <select class="form-control input-group-lg" ng-model="batch" ng-change="getSubjects(batch);">
                          	<option value="">Select Batch</option>
                            <option ng-repeat="batch in batches" value="{{batch}}">{{batch}}</option>
                          </select>
                    </div>

                    <div class="form-group col-xs-12">
                    <label for="select" class="control-label">Select Subject</label>
                          <select class="form-control input-group-lg" ng-model="subject" ng-change="getTopics(batch,subject);">
						<option value="">Select Subject</option>

                            <option ng-repeat="subject in subjects" value="{{subject}}">{{subject}}</option>
                          </select>
                    </div>

                    <div class="form-group col-xs-12">
                    <label for="select" class="control-label">Select Topic</label>
                          <select class="form-control input-group-lg" ng-model="topic">
							<option value="">Select Topic</option>

                            <option ng-repeat="topic in topics" value="{{topic.topicname}}">{{topic.topicname}}</option>
                          </select>
                    </div>

                  <!-- <div class="form-group col-xs-12">
                  <label class="control-label" for="endTime">Teaching Staff </label>
                  <div class="input-group" >
                    <input class="form-control" placeholder="Teaching Staff" ng-model="teacher" >

                    </div>
                  </div> -->


                    <div class="form-group col-xs-12">
                      <div class="input-group" >
                        <button class="btn btn-danger" ng-click="confirmStudentAttendance()"><i class="fa fa-check-square" aria-hidden="true"></i> Mark attendance  </button>
                      </div>
                    </div>
                  </div>




              </div>
            </div>

                </div>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="loginModal" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Login</h4>
                    </div>
                    <div class="modal-body">
                      <form ng-submit="doLogin()">
                        <label>
                          <b>Username</b>
                        </label>
                        <br>
                          <input class="form-control" style="width: 100%" ng-model="username" type="text" placeholder="Username" name="username" required>
                            <br>
                              <label>
                                <b>Password</b>
                              </label>
                              <br>
                                <input class="form-control" style="width: 100%" ng-model="password" type="password" placeholder="Password" name="psw" required>
                                  <br>
                                    <label>
                                      <b>User Type</b>
                                    </label>
                                    <br>
                                      <select ng-model="usertype" class="form-control">
                                        <option value="blank">Select User Type </option>
                                        <option style="text-transform: capitalize;" ng-repeat="usertypename in usertypes" value="{{usertypename.typeid}}"> {{usertypename.typename}} </option>
                                      </select>
                                      <br>
                                        <br>
                                          <button class="btn btn-primary" type="submit" >Login</button>
                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>




                       <!--Student attendance confirmation section -->
                       <div id="attendanceModal" class="modal fade" role="dialog">
						  <div class="modal-dialog">

						    <!-- Modal content-->
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal">&times;</button>
						        <h4 class="modal-title">Confirm Attendance</h4>
						      </div>
						      <div class="modal-body">
						      	<div class="text">
						      		Start time:
						      		<span class="text-danger"> {{startTime}} </span> &nbsp&nbsp&nbsp
						      		End time:
						      				<span class="text-danger"> 	 {{endTime}} </span>&nbsp&nbsp&nbsp
						      					Staff:
						      				<span class="text-danger">  {{staffselected.fname}}  {{staffselected.lname}}</span> <br/>
						      				Batch:
											<span class="text-danger">  {{batch}}</span>&nbsp&nbsp&nbsp
											Subject: 
						   					<span class="text-danger"> {{subject}}</span>&nbsp&nbsp&nbsp
						   					Topic:
						      				<span class="text-danger">  {{topic}}</span>
						      				</div>


						      	<table class="table table-condensed">
						      	<tr ng-repeat="x in studentList">
						      		<td class="text">{{x.firstName}} {{x.middleName}} {{x.lastName}} </td>

						      		<td ng-class="{'text-danger': x.present == 'absent' ,'text-success': x.present == 'present' }"> {{x.present}} </td>
						      	</tr>

						      	</table>



						      </div>
						      <div class="modal-footer">
						      	<button type="button" ng-click="addstudentattendance()" class="btn btn-danger" data-dismiss="modal">Submit
						      	</button>
						        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						      </div>
						    </div>

						  </div>
						</div>
