<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<style type="text/css">
.jumbotron {
	color: white;
	min-height: 250px;
	text-indent: 5em;
}
.red {
	background-color: #f44336; 
	color: black;
	font-weight:bold;
	text-align: center;
}

.green {
	background-color:#33cc33;
	color: black;
	font-weight:bold;
	text-align: center;
}
</style>


<div ng-init="getStudentInfo();editstudentflagstatus=true;">
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" id="sidebarCollapse" class="btn btn-primary w3-text-white w3-hover-red btn-xs navbar-brand">ESPL <i class="fa fa-bars" aria-hidden="true"></i></button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="#adminDashboard"><i class="fa fa-tachometer fa-lg" aria-hidden="true"></i> Dashboard</a>
          </li>
          <li class="dropdown active">
            <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Students <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#student">Admitted</a></li>
              <li ng-show="loggedIn"><a href="#enquiry">Enquiry</a></li>
              <li ng-show="loggedIn"><a href="#feesReport">Fee Reports</a></li>
              <li ng-show="loggedIn"><a href="#attendance">View Attendance</a></li>
              <li ng-show="loggedIn"><a href="#studentattendance">Manual Attendance</a></li>
            </ul>
          </li>
          <li ng-show="loggedIn" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Staff <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#staffList">Staff List</a></li>
              <li><a href="#staffAttendance">Staff Attendance</a></li>
            </ul>
          </li>
          <li><a href="#viewDiscounts">Discounts</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ng-show="loggedIn"><a ng-click="getCities();" href="#message"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></li>
          <li ng-show="loggedIn"><a href="#search"><i class="fa fa-search fa-lg" aria-hidden="true"></i></a></li>
          <li><a href="#adminpanel" ng-show="loggedIn && showeditables=='true'"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></a></li>
          <!-- <li><a data-toggle="modal" data-target="#loginModal" href="#" target="_self" ng-show="!loggedIn"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i> Login</a></li> -->
          <li>
            <div class="dropdown" ng-show="loggedIn">
              <button style="display: block; margin-top: 15px;" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-user fa-lg" aria-hidden="true"></i> {{loginData.staffname}}
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#changepwd"><i class="fa fa-cog fa-lg" aria-hidden="true"></i> Settings</a></li>
                  <li><a href="" target="_self" ng-click="logout('/')"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i> Logout</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
  </nav>
	</div>

	<div>
		<div class="container-fluid" style="margin-top:70px;">
			<div class="jumbotron row w3-card" style="background: #fc00ff;background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);background: linear-gradient(to right, #00dbde, #fc00ff);">
				<div align="left" class="col-md-3">
					<img src="assets/images/mtlogo.png" style="height: 100%;width: 100%;">
				</div>
				<div class="col-md-9" align="left">
					<h3 style="font-size: 30px; font-family: 'Montserrat', sans-serif;">{{studentInfo[0].firstName+" "+ studentInfo[0].lastName}}</h3>
					<br>
					<br>
					<i class="fa fa-phone"></i> &emsp; {{studentInfo[0].studentMobile}}   
					<i class="fa fa fa-bullseye"></i>&emsp; {{studentInfo[0].optionallang}}
					<i class="fa fa-id-badge"></i> &emsp;{{studentInfo[0].Batch}}
					<i class="fa fa-envelope-o" style="text-transform: lowercase;"></i>&emsp; {{studentInfo[0].Email}}
					<i class="fa fa-university"></i>&emsp;{{studentInfo[0].schoolName}}
				</div>
			</div>
		</div>

		<div class="container"><h1>Student Information</h1>
			<div id="exTab1" class="container"> 
				<ul class="nav nav-pills nav-justified">
					<li class="active"><a data-target="#1a" data-toggle="tab" target="_self">Admission</a></li>
					<li><a data-target="#2a" data-toggle="tab" target="_self">Information</a></li>
					<li><a data-target="#3a" data-toggle="tab" target="_self">Payment</a></li>
					<li><a data-target="#4a" data-toggle="tab" target="_self" ng-click="batchforattendance(studentInfo[0].Batch)">Attendance</a></li>
					<li><a data-target="#5a" data-toggle="tab" target="_self">Academics</a></li>
				</ul>

				<br>
				<div class="tab-content clearfix">
					<div class="tab-pane" id="3a">
						<div class="container col-md-8">
							<div class="col-md-4 col-sm-4">
								<div class="panel panel-info">
									<div class="panel-heading">
										<h3 class="panel-title">Total Fees</h3>
									</div>
									<div class="panel-body">
										<i class="fa fa-inr" aria-hidden="true"></i>  {{studentInfo[0].total}}  
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="panel panel-success">
									<div class="panel-heading">
										<h3 class="panel-title">Received Fees</h3>
									</div>
									<div class="panel-body">
										<i class="fa fa-inr" aria-hidden="true"></i>  {{paid}}
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="panel panel-danger">
									<div class="panel-heading">
										<h3 class="panel-title">Balanced Fees</h3>
									</div>
									<div class="panel-body">
										<i class="fa fa-inr" aria-hidden="true"></i> {{pending}} 
									</div>
								</div>
							</div>


							<div class="w3-center">
								<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal"><i class="fa fa-cogs" aria-hidden="true"></i>  Reconfigure installments</button>
							</div>

							<div class="modal fade" id="myModal" role="dialog">
								<div class="modal-dialog modal-lg">

									<div class="modal-content">
										<div class="modal-header">
											<button type="button" data-dismiss="modal" class="close">&times;</button>
											<h4 class="modal-title">Configure installments   | Total : {{studentInfo[0].total}}</h4>
										</div>
										<div class="modal-body col-md-12" id="paymentBody">
											<div class="col-md-12" ng-repeat="n in [1,2,3,4,5,6,7,8,9,10,11,12] | limitTo : studentInfo[0].NoOfInstallment">
												<div class="panel panel-danger">
													<div class="panel-heading">
														<span><h3 class="panel-title text-center">Installment {{$index +1 }} <button class="btn btn-default btn-sm w3-right" ng-click="deleteInstallment($index);"><i class="fa fa-trash-o"></i></button></h3></span>

													</div>
													<div class="panel-body">

														<div class="form-group col-md-2 col-sm-2" >
															<label for="select">Mode</label>
															<div class="col-lg-10">
																<select class="form-control" ng-model="studentInfo[0].payment[$index].mode" ng-value="studentInfo[0].payment[$index].mode" ng-selected="mode=studentInfo[0].payment[$index].mode;">
																	<option>Cash</option>
																	<option>Cheque</option>
																	<option>DD</option>
																</select>
															</div>
														</div>


														<div class="form-group col-md-10 col-sm-10" ng-show="mode =='Cheque'">
															<div class="form-group col-md-4 col-sm-4">
																<div class="col-lg-10">
																	<label> Account Holder Name </label>
																	<input type="text" class="form-control input-sm" ng-model="studentInfo[0].payment[$index].AccountHolderName" ng-value="studentInfo[0].payment[$index].AccountHolderName">
																</div>
															</div>
															<div class="form-group col-md-4 col-sm-4">
																<div class="col-lg-10">
																	<label> Name Of Bank</label>
																	<input type="text" class="form-control input-sm cap" ng-model="studentInfo[0].payment[$index].NameOfBank" ng-value="studentInfo[0].payment[$index].NameOfBank">
																</div>
															</div>
															<div class="form-group col-md-4 col-sm-4">
																<div class="col-lg-10">
																	<label> Branch Name</label>
																	<input type="text" class="form-control input-sm" ng-model="studentInfo[0].payment[$index].BranchName" ng-value="studentInfo[0].payment[$index].BranchName">
																</div>
															</div>

															<div class="form-group col-md-3 col-sm-3">
																<div class="col-lg-10">
																	<label> Cheque Number </label>
																	<input type="text" class="form-control input-sm" ng-model="studentInfo[0].payment[$index].Number" ng-value="studentInfo[0].payment[$index].Number">
																</div>
															</div>

															<div class="form-group col-md-3 col-sm-3">
																<div class="col-lg-10">
																	<label> Cheque Date</label>
																	<datepicker  date-format="dd/MM/yyyy" custom-class="getDayClass(date, mode)">
																		<input class="w3-input w3-border from" ng-model="studentInfo[0].payment[$index].Date" type="text" ng-value="studentInfo[0].payment[$index].Date" >
																	</datepicker>
																</div>
															</div>
															<div class="form-group col-md-3 col-sm-3">
																<div class="col-lg-10">
																	<label> Cheque Amount</label>
																	<input type="number" class="form-control input-sm" ng-model="studentInfo[0].payment[$index].Amount" ng-value="studentInfo[0].payment[$index].Amount">
																</div>
															</div>
															<div class="form-group col-md-3 col-sm-3">
																<div class="col-lg-10">
																	<label> Status</label>
																	<select class="form-control" id="select" ng-model="studentInfo[0].payment[$index].Status" ng-value="studentInfo[0].payment[$index].Status">
																		<option>Paid</option>
																		<option>Pending</option>
																	</select>
																</div>
															</div>

														</div> 

														<div class="form-group col-md-10 col-sm-10" ng-show="mode =='Cash'">

															<div class="form-group col-md-4 col-sm-4">
																<div class="col-lg-10">
																	<label> Date</label>
																	<datepicker  date-format="dd/MM/yyyy" custom-class="getDayClass(date, mode)">
																		<input class="w3-input w3-border from" ng-model="studentInfo[0].payment[$index].Date" type="text" ng-value="studentInfo[0].payment[$index].Date" >
																	</datepicker>
																</div>
															</div>
															<div class="form-group col-md-4 col-sm-4" >
																<div class="col-lg-10" >
																	<label> Amount</label>
																	<input type="number" class="form-control input-sm" ng-model="studentInfo[0].payment[$index].Amount" ng-value="studentInfo[0].payment[$index].Amount">
																</div>
															</div>
															<div class="form-group col-md-4 col-sm-4">
																<div class="col-lg-10">
																	<label> Status</label>
																	<select class="form-control" id="select" ng-model="studentInfo[0].payment[$index].Status" ng-value="studentInfo[0].payment[$index].Status">
																		<option>Paid</option>
																		<option>Pending</option>
																	</select>
																</div>
															</div>
														</div>
														<div class="form-group col-md-10 col-sm-10" ng-show="mode =='DD'">
															<div class="form-group col-md-4 col-sm-4">
																<div class="col-lg-10">
																	<label> Name Of Bank</label>
																	<input type="text" class="form-control input-sm cap" ng-model="studentInfo[0].payment[$index].NameOfBank" ng-value="studentInfo[0].payment[$index].NameOfBank">
																</div>
															</div>
															<div class="form-group col-md-4 col-sm-4">
																<div class="col-lg-10">
																	<label> Branch Name</label>
																	<input type="text" class="form-control input-sm" ng-model="studentInfo[0].payment[$index].BranchName" ng-value="studentInfo[0].payment[$index].BranchName">
																</div>
															</div>
															<div class="form-group col-md-4 col-sm-4">
																<div class="col-lg-10">
																	<label> DD Number </label>
																	<input type="text" class="form-control input-sm" ng-model="studentInfo[0].payment[$index].Number" ng-value="studentInfo[0].payment[$index].Number">
																</div>
															</div>

															<div class="form-group col-md-4 col-sm-4">
																<div class="col-lg-10">
																	<label> DD Date</label>
																	<datepicker  date-format="dd/MM/yyyy" custom-class="getDayClass(date, mode)">
																		<input class="w3-input w3-border from" ng-model="studentInfo[0].payment[$index].Date" type="text" ng-value="studentInfo[0].payment[$index].Date" >
																	</datepicker>
																</div>
															</div>
															<div class="form-group col-md-4 col-sm-4">
																<div class="col-lg-10">
																	<label> DD Amount</label>
																	<input type="number" class="form-control input-sm" ng-model="studentInfo[0].payment[$index].Amount" ng-value="studentInfo[0].payment[$index].Amount">
																</div>
															</div>
															<div class="form-group col-md-4 col-sm-4">
																<div class="col-lg-10">
																	<label> Status</label>
																	<select class="form-control" id="select" ng-model="studentInfo[0].payment[$index].Status" ng-value="studentInfo[0].payment[$index].Status">
																		<option>Paid</option>
																		<option>Pending</option>
																	</select>
																</div>
															</div>

														</div>

														<!-- Comment -->
														<div class="row" >
															<div class="col-md-2 col-lg-2">
																
															</div>
															<div class="form-group col-lg-10 col-md-10" >
																<label> Comments</label>
																<input type="text" class="form-control input-sm" ng-model="studentInfo[0].payment[$index].comment" ng-value="studentInfo[0].payment[$index].comment" readonly>
															</div>
														</div>
														<!-- Comment -->
													</div>
												</div>
											</div>

										</div>

										<div class="modal-footer">
											<button type="button" class="btn btn-success w3-left" ng-click="addNewInstallment();">Add</button>
											<button type="button" class="btn btn-danger w3-left" ng-click="exportPayment('paymentBody');"><i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i></button>
											<button type="button" class="btn btn-success" ng-click="saveEditedFees();">Save</button>
											<button type="button" class="btn btn-default" ng-click="reloadPage();">Close</button>
										</div>
									</div>

								</div>
							</div>
						</div>
						<div class="container col-md-4">
							<ul class="list-group w3-card w3-white">
								<li class="list-group-item"> Class | Board :  {{studentInfo[0].BoardName}}   </li>
								<li class="list-group-item"> Admission Date :{{studentInfo[0].admissiondate}} </li>
								<li class="list-group-item"> Fees     :{{studentInfo[0].fees}} </li>
								<li class="list-group-item">Discount  :{{studentInfo[0].discount}} </li>
								<li class="list-group-item">Total fees :{{studentInfo[0].total}} </li>
							</ul> 

						</div>
					</div>

					<div class="tab-pane active" id="1a">
						<div class="w3-padding w3-row-padding w3-center">
							<a href="" ng-click="admissionformpdf(studentInfo[0].firstName+'_'+studentInfo[0].middleName+'_'+studentInfo[0].lastName)" class="btn btn-success"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Admission Form</a>
							<a href="" ng-click="paymentdetailspdf(studentInfo[0].firstName+studentInfo[0].middleName+studentInfo[0].lastName)" class="btn btn-danger"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Payment Form</a>
							<a href="" ng-click="tncpdf(studentInfo[0].firstName+studentInfo[0].middleName+studentInfo[0].lastName)" class="btn btn-primary"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Terms And Conditions</a>
						</div>

						<div class="w3-right" ng-show="loggedIn">
							<button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#transferModal" ng-click="getBranches();"><i class="fa fa-plane" aria-hidden="true"></i> Transfer</button>
						</div>

						<div ng-show="loggedIn">
							<button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteStudentModal"><i class="fa fa-trash-o" aria-hidden="true"></i> Cancel Admission</button>
						</div>

						<div class="modal fade" id="transferModal" role="dialog">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Transfer Student</h4>
									</div>
									<div class="modal-body">
										<div class="row">
											<div class="col-md-3">
												<h3> Transfer From  : </h3>
											</div>

											<div class="col-md-3">
												<h3>{{studentInfo[0].Center}} </h3>
											</div>

											<div class="col-md-3">
												<h3>{{studentInfo[0].Batch}}</h3>
											</div>

											<div class="col-md-3">
												<h3>{{studentInfo[0].RollNo}}</h3>
											</div>                         
										</div>
										<br><br>

										<div class="row">
											<div class="col-md-3">
												<h3> Transfer To  : </h3>
											</div>

											<div class="col-md-3 col-sm-3">
												<select name="center" class="form-control cap" ng-model="transfer.Center" id="center"  ng-change="transfer.Batch={};getBatch(transfer.Center,studentInfo[0].BoardName);" required>
													<div ng-if="branch.length">
														<option value="" disabled selected>Select Branch</option>
														<option ng-repeat="branch in singleBranchResult">{{branch.branchname}}</option>
													</div>
												</select>
											</div>

											<div class="col-md-3 col-sm-3">
												<select name="center" class="form-control cap" ng-model="transfer.Batch" id="center" ng-change="getTotalRollNumbers(transfer.Batch)" required>
													<div ng-if="batch.length">
														<option value="" disabled selected>Select Batch</option>
														<option ng-repeat="batch in batches">{{batch}}</option>
													</div>
												</select>
											</div>

											<div class="col-md-3 col-sm-3">
												<input class="form-control" type="text" name="rollno" ng-model="transfer.RollNo" placeholder="Enter new roll number">
												<p>Total Student in <strong>{{transfer.Batch}}</strong> : <strong>{{totalrollnobatch}}</strong> </p>
											</div>

										</div>
									</div>

									<div class="modal-footer">
										<button type="button" class="btn btn-success" ng-click="transferStudent();">Save</button>                              
									</div>
								</div>

							</div>
						</div>


						<div class="modal fade" id="deleteStudentModal" role="dialog">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h3 class="modal-title">Delete/Cancel Admission</h3>
									</div>
									<div class="modal-body col-md-12">
										<h4> Do You Really Want To Cancel | Delete Admission Of Student ?</h4>
									</div>

									<div class="modal-footer">
										<button type="button" class="btn btn-success" ng-click="deleteStudent();">Yes</button>
										<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>                             
									</div>
								</div>

							</div>
						</div>
					</div>

					<div class="tab-pane" id="4a">

						<table class="table table-bordered w3-card w3-white">
							<thead class="w3-red">
								<tr style="width:50px"  >
									<th style="font-weight: bold;text-align: center;">Month</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat-start="mon in attendance" ng-click="showDetails = !showDetails;showindex=$index;">
									<td style="font-weight: bold;text-align: center;font-size: 18px">{{mon.month}}</td>
								</tr>
								<tr ng-repeat-end ng-show="showDetails">
									<td>
										<table class="table table-bordered" style="border: 1px solid black;" >
											<tbody>

												<tr>
													<td rowspan="2" style="font-size: 15px;font-weight: bold;">ROLL NO <i class="fa fa-arrow-right" aria-hidden="true"></i> </br> DATE </br><i class="fa fa-arrow-down" aria-hidden="true"></i> </td>
													<td ng-repeat="stud in studentlist" style="font-weight: bold;font-size: 15px;text-align: center;">
														{{stud.RollNo}}
													</td>
												</tr>
												<tr>

													<td ng-repeat="stud in studentlist" style="background-color: #7300e6;color: white">
														{{stud.firstName[0]}}
														{{stud.lastName[0]}}
													</td>
												</tr>
												<tr ng-repeat="d in mon.mattendance"><td style="background-color: #7300e6;color: white">{{d.date}}</td>         
													<td ng-repeat="a in d.attendance track by $index" ng-class="{'red':a === 'A','green':a === 'P'}">{{a}}</td>

												</tr> 

											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>


					</div>

					<div class="tab-pane" id="5a">
						<div class="container">
							<div ng-show="qplist2 == '0'">
								<div class="alert alert-dismissible alert-info">
								  <strong>Heads up!</strong> No Question Papers for you right now.
								</div>
							</div>
							<div ng-show="qplist2 != '0'">
								<table class="table table-bordered table-condensed w3-card w3-white">
									<thead style="color: white;background-color: #1e59fc">
										<tr>
											<th>#</th>
											<th>Subject</th>
											<th>Test Name</th>
											<th><i class="fa fa-cog fa-spin"></i></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="x in qplist2">
											<td>{{$index+1}}</td>
											<td>{{x.subjectName}}</td>
											<td>{{x.testName}}</td>
											<td align="center">
												<a class="btn btn-danger btn-sm" ng-href={{x.pdfurl}} target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div class="tab-pane" id="2a">
						<div ng-show="showeditables=='true' && editstudentflagstatus"><button ng-show="loggedIn" style="margin-left: 5px;" class="btn btn-primary btn-sm w3-right" ng-click="editStudentProfileStatus()"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button></div>
						<div ng-show="!editstudentflagstatus"><button style="margin-left: 5px;" class="btn btn-primary btn-sm w3-right" ng-click="submitStudentProfile()">SUBMIT</button></div>
						<div>                 
							<div style="text-transform: lowercase;" class="container col-md-6">
								<br>
								<br>
								<table class="table table-bordered w3-white w3-card">
									<tbody>

										<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>Student Name :</strong></td><td style="font-size: 15px">
													<span ng-show="editstudentflagstatus">{{studentInfo[0].firstName+" "+ studentInfo[0].lastName}}</span><input ng-show="!editstudentflagstatus" style="width: 100%" type="text" name="firstname" ng-model="studentInfo[0].firstName" required> <input ng-show="!editstudentflagstatus" style="width: 100%" type="text" name="middlename" ng-model="studentInfo[0].middleName" required> <input ng-show="!editstudentflagstatus" style="width: 100%" type="text" name="lastname" ng-model="studentInfo[0].lastName" required></td>
										</tr>

										<tr> 
											<td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>Date Of Birth :</strong></td>
											<td style="font-size: 15px"><span ng-show="editstudentflagstatus">{{studentInfo[0].dob}}</span><datepicker  date-format="dd/MM/yyyy" custom-class="getDayClass(date, mode)"><input ng-show="!editstudentflagstatus" style="width: 100%" type="text" name="dob" ng-model="studentInfo[0].dob" required></datepicker></td>
										</tr>

										<tr>
											<td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>Center :</strong></td>
											<td style="font-size: 15px"> {{studentInfo[0].Center}}</td>
										</tr>

										<tr>
											<td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>School Name : </strong></td>
											<td style="font-size: 15px"><span ng-show="editstudentflagstatus">{{studentInfo[0].schoolName}}</span><input ng-show="!editstudentflagstatus" style="width: 100%" type="text" name="schoolname" ng-model="studentInfo[0].schoolName" required></td>
										</tr>

										<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>Student Mobile : </strong></td>
											<td style="font-size: 15px"><span ng-show="editstudentflagstatus">{{studentInfo[0].studentMobile}}</span><input ng-show="!editstudentflagstatus" style="width: 100%" type="text" name="schoolname" ng-model="studentInfo[0].studentMobile"></td> </tr>

											<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; text-transform: lowercase; font-family: 'Montserrat', sans-serif;"><strong><font style="text-transform: lowercase;">Student Email:</font></strong></td><td style="font-size: 15px"><span ng-show="editstudentflagstatus">{{studentInfo[0].Email}}</span><div ng-show="!editstudentflagstatus"><input style="width: 100%" type="email" name="studentMail" ng-model="studentInfo[0].Email">
												<div ng-messages="studentMail.$error">
													<div ng-message="email">Your email address is invalid</div>
												</div></div></td> </tr>

												<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>Fathers Name :</strong></td><td style="font-size: 15px">
													<span ng-show="editstudentflagstatus">{{studentInfo[0].fatherName}}</span><input ng-show="!editstudentflagstatus" style="width: 100%" type="text" name="fathername" ng-model="studentInfo[0].fatherName" required></td></tr>

													<tr> <td width="33%" style="background-color: #343638; color: whitesmoke;text-transform:lowercase; font-family: 'Montserrat', sans-serif;"><strong>Fathers Email:</strong></td><td style="font-size: 15px"><span ng-show="editstudentflagstatus">{{studentInfo[0].fatherMail}}</span><input ng-show="!editstudentflagstatus" style="width: 100%" type="text" name="fatherMail" ng-model="studentInfo[0].fatherMail"></td> </tr>

													<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>Fathers Mobile:</strong></td><td style="font-size: 15px">
														<span ng-show="editstudentflagstatus">{{studentInfo[0].fatherMobile}}</span><input ng-show="!editstudentflagstatus" style="width: 100%" type="text" name="fathermobile" ng-model="studentInfo[0].fatherMobile"></td> </tr>

														<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>Fathers Occupation :</strong></td><td style="font-size: 15px"> <span ng-show="editstudentflagstatus">{{studentInfo[0].fatherOcc}}</span><input ng-show="!editstudentflagstatus" style="width: 100%" type="text" name="fatheroc" ng-model="studentInfo[0].fatherOcc"></td> </tr>

														<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>Father Ofc Address :</strong></td><td style="font-size: 15px"><span ng-show="editstudentflagstatus">{{studentInfo[0].fatherOfficeAddress}}</span><input ng-show="!editstudentflagstatus" style="width: 100%" type="text" name="fatheroffadd" ng-model="studentInfo[0].fatherOfficeAddress"></td> </tr>

													</tbody>
												</table>           
											</div>

											<br>
											<br>

											<div style="text-transform: lowercase;" class="container col-md-6">
												<table class="table table-bordered w3-card w3-white">
													<tbody>
														<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>Gender :</strong></td><td style="font-size: 15px">{{studentInfo[0].gender}}</td> </tr>

														<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>Batch :</strong></td><td style="font-size: 15px"> {{studentInfo[0].Batch}}</td> </tr>

														<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>School Timing : </strong></td><td style="font-size: 15px"><span ng-show="editstudentflagstatus">{{studentInfo[0].schoolTiming}}</span><input ng-show="!editstudentflagstatus" style="width: 100%" type="text" name="schooltym" ng-model="studentInfo[0].schoolTiming"></td> </tr>

														<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>Mothers Name :</strong></td><td style="font-size: 15px"><span ng-show="editstudentflagstatus">{{studentInfo[0].motherName}}</span><input ng-show="!editstudentflagstatus" style="width: 100%" type="text" name="mothername" ng-model="studentInfo[0].motherName"></td> </tr>

														<tr> <td width="33%" style="background-color: #343638; color: whitesmoke;text-transform:lowercase; font-family: 'Montserrat', sans-serif;"><strong>Mothers Email:</strong></td><td style="font-size: 15px"><span ng-show="editstudentflagstatus">{{studentInfo[0].motherMail}}</span><input ng-show="!editstudentflagstatus" style="width: 100%" type="text" name="mommail" ng-model="studentInfo[0].motherMail"></td> </tr>

														<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>Mothers Mobile:</strong></td><td style="font-size: 15px"><span ng-show="editstudentflagstatus">{{studentInfo[0].motherMobile}}</span><input ng-show="!editstudentflagstatus" style="width: 100%" type="text" name="mommo" ng-model="studentInfo[0].motherMobile"></td> </tr>

														<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>Mothers Occupation :</strong></td><td style="font-size: 15px"><span ng-show="editstudentflagstatus">{{studentInfo[0].motherOcc}}</span><input ng-show="!editstudentflagstatus" style="width: 100%" type="text" name="motherocc" ng-model="studentInfo[0].motherOcc"></td> </tr>

														<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>Mother Ofc Address :</strong></td><td style="font-size: 15px"><span ng-show="editstudentflagstatus">{{studentInfo[0].motherOfficeAddress}}</span><input ng-show="!editstudentflagstatus" style="width: 100%" type="text" name="motheroffadd" ng-model="studentInfo[0].motherOfficeAddress"></td> </tr>

														<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>Pin Code:</strong></td><td style="font-size: 15px"><span ng-show="editstudentflagstatus">{{studentInfo[0].pincode}}</span><input ng-show="!editstudentflagstatus" style="width: 100%" type="text" name="pincode" ng-model="studentInfo[0].pincode"></td> </tr>

														<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>City :</strong></td><td style="font-size: 15px"><span ng-show="editstudentflagstatus">{{studentInfo[0].city}}</span><input ng-show="!editstudentflagstatus" style="width: 100%" type="text" name="studcity" ng-model="studentInfo[0].city"></td> </tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>

					<script>
						$(document).ready(function(){
							$('#sidebarCollapse').on('click', function () {
								$('#sidebar').toggleClass('active');
								$('#main').toggleClass('active');
							});
						});
					</script>