<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<style type="text/css">
.jumbotron {
  color: white;
  /*text-align: center;*/
  /*text-shadow: 2px 2px 8px black;*/
  min-height: 250px;
  text-indent: 5em;
}
</style>

<div ng-init="checkLogin();getfeedbackdata();">
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" id="sidebarCollapse" class="btn btn-primary w3-text-white w3-hover-red btn-xs navbar-brand">ESPL <i class="fa fa-bars" aria-hidden="true"></i></button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="#accountadminDashboard"><i class="fa fa-tachometer fa-lg" aria-hidden="true"></i> Dashboard</a>
          </li>
          <li>
            <a href="#studentsInOut"><i class="fa fa-user fa-lg" aria-hidden="true"></i> Students</a>
          </li>
          <li>
            <a href="#papersinout"><i class="fa fa-file fa-lg" aria-hidden="true"></i> Exam Paper</a>
          </li>
          <li>
            <a href="#accountsalary"><i class="fa fa-money fa-lg" aria-hidden="true"></i> Salary</a>
          </li>
          <li>
            <a href="#accountPassBook"><i class="fa fa-university fa-lg" aria-hidden="true"></i> Passbook</a>
          </li>

           <li >
            <a href="#chequerecords"><i class="fa fa-briefcase fa-lg" aria-hidden="true"></i> Cheque Records</a>
          </li>
          <li >
            <a href="#accounterrors"><i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Account Error</a>
          </li>
           <li class="active">
            <a href="#feedbackadmin"><i class="fa fa-commenting fa-lg" aria-hidden="true"></i> Parent's FeedBack</a>
          </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <div class="dropdown" ng-show="accounts">
              <button style="display: block; margin-top: 15px;" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-user fa-lg" aria-hidden="true"></i> {{loginData.staffname}}
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#changepwd"><i class="fa fa-cog fa-lg" aria-hidden="true"></i> Settings</a></li>
                  <li><a href="" target="_self" ng-click="logout('/')"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i> Logout</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
  </nav>
  
  <div class="container-fluid" style="margin-top:70px;">
    <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Parent's Feedback</h3>
          </div>
          <div class="panel-body">
            

              <!--table code-->

  
  <div class="pull-left">
    <h4 class="pull-left">Parent FeedBack Option</h4>
  <div class="checkbox">
  <label><input type="checkbox" ng-change="allowfeedback()" ng-model="feedopt" ng-value="feedopt">{{buttondata.visible}}</label>
</div>
</div>

        <table style="margin-top:15px" st-set-filter="customFilter" st-table="displayedCollection" st-safe-src="currentrecords"  class="table table-condensed table-bordered table-striped w3-card w3-white" > 
      <thead  >
      <tr style="color: white;background-color: #1e59fc">
        <th ng-repeat="head in headers" st-sort="{{head}}">
          {{head|titlecase}} 
        </th>
        <th>OPERATION</th>
        
      </tr>

      <tr>
        <th ng-repeat="head in headers">
       <input st-search="{{head}}"  class="input-sm form-control" type="text" value="" ng-value=""/>
        </th> 
        <th></th> 

      </tr>

        



      </thead>
      <tbody>
        <tr ng-repeat="rec in displayedCollection">
      <td >{{rec['ParentName']}}</td>
      <td >{{rec['ParentMobile']}}</td>
      <td >{{rec['WardName']}}</td>
      <td >{{rec['Center']}}</td>
      <td >{{rec['Feedback']}}</td>
      <td ng-if="rec['approve'] == '0'" ><button type="button" class="btn btn-success btn-xs">Not Approved</button></td>
      <td ng-if="rec['approve'] == '1'" ><button type="button" class="btn btn-success btn-xs">Approved</button></td>

        <td ng-if="rec['approve'] == '0'" style='white-space: nowrap'>
        <button class="btn btn-success btn-sm" style="align:right;" ng-click="approvestatus(rec,1)"><span class="glyphicon glyphicon-ok"></button>
        <button class="btn btn-danger btn-sm" style="align:right;" ng-click="deletestatus(rec)"><span class=" glyphicon glyphicon-folder-close"></button>
       </td>

       <td ng-if="rec['approve'] == '1'" style='white-space: nowrap'>
        <button class="btn btn-info btn-sm" style="align:right;" ng-click="approvestatus(rec,0)"><span class="glyphicon glyphicon-repeat"></button>
           <button class="btn btn-danger btn-sm" style="align:right;" ng-click="deletestatus(rec,1)"><span class=" glyphicon glyphicon-folder-close"></button>
       </td>

      </tr>
      </tbody>
      <tfoot>
        
        <tr>
        <td colspan="{{headers.length}}" class="text-center">
          <div st-pagination="" st-items-by-page="itemsByPage"></div>
        </td>
      </tr>
      </tfoot>

      </table>



          </div>
        </div>
