<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">ESPL</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#adminDashboard"><i class="fa fa-tachometer" aria-hidden="true"></i> </a>
          </li>
          <li class="dropdown">
            <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Students <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#student">Admitted</a></li>
              <li ng-show="loggedIn"><a href="#enquiry">Enquiry</a></li>
            </ul>
          </li>
          <li ng-show="loggedIn">
            <a href="#feesReport">Reports </a>
          </li>
          <li ng-show="loggedIn">
            <a ng-click="getCities();" href="#message"><i class="fa fa-envelope" aria-hidden="true"></i> Messages </a>
          </li>
          <li ng-show="loggedIn">
            <a href="#adminpanel"><i class="fa fa-plus" aria-hidden="true"></i> ADD </a>
          </li>
          <li ng-show="loggedIn" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Staff <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#staffList">Staff Profile</a></li>
            <li class="divider"></li>
            <li><a href="#staffAttendance">Staff Attendance</a></li>
          </ul>
        </li> 
        <li ng-show="loggedIn" class="dropdown">
          <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Schedule <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#createSchedule" target="_self">Yearly Schedule</a></li>
          </ul>
        </li>              
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ng-show="loggedIn" class="dropdown">
            <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></a>
            <ul class="dropdown-menu" role="menu">
              <!-- <li><a href="#feeSetting">Fee Structure</a></li> -->
              <li><a href="#addstaff">Add New Staff</a></li>
              <li class="divider"></li>
              <li><a href="" data-toggle="modal" data-target="#myModalHorizontal" ng-click="getCities(); getStaffNames();">Authenticate User</a></li>
              <li class="divider"></li>
              <li><a href="#index">Add New city and branch</a></li>
               <li class="divider"></li>
              <li><a href="#feeSetting">Manage Fees</a></li>
              </ul>
            </li>
            <!-- <li><span class="w3-button w3-xlarge w3-white w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></span></li> -->
          <li><a data-toggle="modal" data-target="#loginModal" href="#" target="_self" ng-show="!loggedIn"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
          <li><a href="" target="_self" ng-click="logout('/')" ng-show="loggedIn"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
<div style="margin-top: 68px">

    <div class="alert alert-info">
      <strong>DASHBOARD(Canada Corner, Nashik)</strong>
    </div>
  <div ng-show="loggedIn" class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>52</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Total Students</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-university w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>9</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Total Batches</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-book w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>7</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Total Streams</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-eercast w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>12</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Total Products</h4>
      </div>
    </div>
  </div>
</div>

<!-- Login Modal -->
  <div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
          <form class="w3-container">
            <div class="w3-section">
              <label><b>Username</b></label>
              <input ng-model="username" class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Username" name="username" required>
              <label><b>Password</b></label>
              <input ng-model="password" class="w3-input w3-border" type="password" placeholder="Enter Password" name="psw" required>
              <button class="w3-button w3-block w3-blue w3-section w3-padding" type="submit" ng-click="doLogin()">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label  class="col-sm-2 control-label"
                              for="fullname">User Full Name</label>
                    <div class="col-sm-10">
                        <select  ng-model="staffname" class="form-control" ng-change="generate(staffname)">
                          <option ng-repeat="name in staffnames" value="{{name}}"> {{name}} </option>
                        </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label  class="col-sm-2 control-label"
                              for="username">User Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-value="username" ng-model="username"
                        id="username" placeholder="User Name"/>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label"
                          for="inputPassword3" >Password</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-value="password" ng-model="password"
                            id="inputPassword3" placeholder="Password"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-2 control-label"
                              for="city">City</label>
                    <div class="col-sm-10">
                        <select ng-model="cityid" ng-change="getBranches(cityid)"  class="form-control">
                         <!--  <option value="">Select City</option> -->
                          <option ng-repeat="city in result1.cities" value="{{city._id}}"> {{city.cityname}} </option>
                        </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-2 control-label"
                              for="branch">Branch</label>
                    <div class="col-sm-10">
                        <select ng-model="branchid" class="form-control">
                          <option ng-repeat="branch in singleBranchResult" value="{{branch._id}}"> {{branch.branchname}} </option>
                        </select>
                    </div>
                  </div>
            
                   <div class="form-group">
                    <label  class="col-sm-2 control-label"
                              for="uemail">User Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="email" id="uemail" placeholder="User Email"/ required>
                    </div>
                  </div>
                   <div class="form-group">
                    <label  class="col-sm-2 control-label"
                              for="usermobile">User Mobile</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="mobile"
                        id="usermobile" placeholder="Mobile" required="true"/>
                    </div>
                  </div>
               
                
                
                
                
                
                
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>
                <button type="submit" ng-click="insertUser();" class="btn btn-primary">
                    Save changes
                </button>
            </div>
             </form>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>