<!-- <head>
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
</head> -->

<style type="text/css">
  a{color: white}
</style>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" id="sidebarCollapse" class="btn btn-primary btn-xs navbar-brand">
          ESPL
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="#adminDashboard"><i class="fa fa-tachometer fa-lg" aria-hidden="true"></i> Dashboard</a>
          </li>
          <li class="dropdown">
            <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Students <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#student">Admitted</a></li>
              <li ng-show="loggedIn"><a href="#enquiry">Enquiry</a></li>
              <li ng-show="loggedIn"><a href="#feesReport">Fee Reports</a></li>
            </ul>
          </li>
          <li ng-show="loggedIn" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Staff <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#staffList">Staff List</a></li>
            <li><a href="#staffAttendance">Staff Attendance</a></li>
          </ul>
        </li>
        <li class="active"><a href="#viewDiscounts">Discounts</a></li>
        <li ng-show="loggedIn"><a href="#uploadTest">Test</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ng-show="loggedIn"><a ng-click="getCities();" href="#message"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></li>
          <li ng-show="loggedIn"><a href="#search"><i class="fa fa-search fa-lg" aria-hidden="true"></i></a></li>
          <li><a href="#adminpanel" ng-show="loggedIn && showeditables=='true'"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></a></li>
          <!-- <li><a data-toggle="modal" data-target="#loginModal" href="#" target="_self" ng-show="!loggedIn"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li> -->
         <li>
          <div class="dropdown" ng-show="loggedIn">
            <button style="display: block; margin-top: 10px;background-color: #0D87E8;color: white" class="btn dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i> {{loginData.staffname}}
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#changepwd"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a></li>
              <li><a href="" target="_self" ng-click="logout('/')"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
            </ul>
          </div>
        </li>
        </ul>
      </div>
    </div>
  </nav>

<div style="margin-top: 70px">

<loading style="position: fixed;top: 50%;left:50%;"></loading>

<div class="panel panel-success " style="margin-right: 20%;margin-left: 20%;margin-top: 10px">
  <div class="panel-heading">
    <h2 class="panel-title text-center">Discounts | Schemes</h2>
  </div>
  <div class="panel-body" ng-init="getCenters();">
    <div class="form-group col-md-4 col-sm-4">
      <label for="center"> Center</label>
      <select class="form-control cap" ng-model="discount.Center" id="center"  ng-change="getBoard(discount.Center);" ng-click="viewDiscounts=false;discount.BoardName='';discount.productid='';products='';">
        <div ng-if="branch.length"> 
          <option ng-repeat="branch in singleBranchResult">{{branch.branchname}}</option>
        </div>
      </select>
    </div>

    <div class="col-sm-4 col-md-4">
      <label for="boardDiv"> Board </label>
      <select class="form-control cap" ng-model="discount.BoardName" id="board" ng-change="getproduct(discount.BoardName);" ng-click="viewDiscounts=false;discount.productid=''">
        <div ng-if="board.length"> 
          <option ng-repeat="board in boards">{{board}}</option>
        </div>
      </select>
    </div>

    <div class="form-group col-md-4 col-sm-4">
      <label for="center"> Select Product</label>
      <select class="form-control cap" ng-model="discount.productid" id="board" ng-change="discountCalculate(discount.productid);std=p.productname;">
        <div ng-if="products.length"> 
          <option ng-repeat="p in products" ng-value="p._id">{{p.productname}}</option>
        </div>
      </select>
    </div>
  </div>
</div>

<div ng-show="viewDiscounts" class="w3-left" style="margin-left: 9%;">
  <a class="btn btn-danger btn-sm" ng-click="exportDiscount('Discounts');"><i class="fa fa-file-pdf-o"></i></a>
</div>

<div id="Discounts" class="container" ng-show="viewDiscounts" style="color: black;font-weight: 900;">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title text-center">{{data.fee_structure[0].productname}} fee Structure <span class="w3-right"> [ {{data.fee_structure[0].board}} ]</span></h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-hover">
        <tbody>
          <tr class="active">
            <td width="20%">Course Fees</td>
            <td>{{data.fee_structure[0].fees}}</td>
          </tr>
          <tr>
            <td width="20%">GST @{{data.fee_structure[0].tax}}% </td>
            <td>{{data.fee_structure[0].tax/100*data.fee_structure[0].fees}}</td>
          </tr>
          <tr class="active">
            <td width="20%"><b>Total fees</b> </td> 
            <td><b>{{ (fee[0].fees )*1+  (fee[0].tax/100*fee[0].fees )*1}}</b></td>
          </tr>
        </tbody>
      </table> 

      <h6 class="alert alert-warning text-center">If Fees are paid in full at the time of admission , you are entitled to get a discount as per table below</h6>

      <table class="table table-responsive table-striped table-bordered table-hover">
        <thead class="w3-blue">
          <tr>
            <th>Month Of Admission</th>
            <th>Fees</th>
            <th>Discount</th>
            <th>Net Fees</th>
            <th>GST  @{{data.fee_structure[0].tax}}%</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="x in data.date">
            <td>{{x[0]}}</td>
            <td> {{data.fee_structure[0].fees}}</td>
            <td>{{x[1]}} %</td>
            <td>{{x[2]}}</td>
            <td>{{x[3]}}</td>
            <td>{{x[4]}}</td>
          </tr>
        </tbody>
      </table> 
    </div>
  </div>
</div>


<script>
$(document).ready(function(){
  $('#sidebarCollapse').on('click', function () {
             $('#sidebar').toggleClass('active');
             $('#main').toggleClass('active');
         });
});
</script>