
    <style>
        .segmented-control {
            padding: 10px;
            margin: 10px;
        }

        input[type="radio"]:checked + label {
            background-color: #027AFB;
            color: white;
        }

        .segmented-control label {
            border-top: 1px solid #027AFB;
            border-bottom: 1px solid #027AFB;
            padding: 10px 30px;
            margin: -4px;
            margin-left: -14px;
            color: #027AFB;
        }

        .sc-label:first-of-type {
            border-left: 1px solid #027AFB;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-right: 1px solid #027AFB;
        }

        .sc-label:last-of-type {
            border-right: 1px solid #027AFB;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-left: 1px solid #027AFB;
        }

        .segmented-control input[type="radio"] {
            visibility: hidden;
        }
    </style>

</head>
<body>
    <h1 class="text-center">MAHESH TUTORIALS</h1>
    <div class="panel panel-info" style="margin:20px;">
        <div class="panel-heading" style="background-color: #3a4a63">
            <h2 class="panel-title text-center">TEACHER FORM</h2>
        </div>
         <div class="panel-body">
            <form ng-init="getBranches();getCities();">
                <div class="col-md-12 col-sm-12">

                    <div id="fnamediv" class="form-group col-md-4 col-sm-4">
                        <label for="fname"> First Name*	</label>
                        <input type="text" ng-model="fname" class="form-control input-sm" id="fname" placeholder="First Name" ng-value="">
                    </div>
                    <div id="mnamediv" class="form-group col-md-4 col-sm-4">
                        <label for="mname">Middle Name* </label>
                        <input type="text" ng-model="mname" class="form-control input-sm" id="mname" placeholder="Middle Name" ng-value="">
                    </div>
                    <div id="lnamediv" class="form-group col-md-4 col-sm-4">
                        <label for="lname">Surname* </label>
                        <input type="text" ng-model="lname" class="form-control input-sm" id="lname" placeholder="Surname(if any)" ng-value="">
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                        <label>Gender* </label>
                        <div class="radio">
                            <label>
                                <input ng-model="gender" name="gender" id="male" value="male" type="radio">
                                Male
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input ng-model="gender" name="gender" id="female" value="female" type="radio">
                                Female
                            </label>
                        </div>
                    </div>
                    <div id="dobdiv" class="form-group col-md-6 col-sm-6">
                        <label for="dob" class="control-label">Date of Birth* </label>
                        <datepicker  date-format="dd/MM/yyyy" custom-class="getDayClass(date, mode)">
                        <input class="w3-input w3-border from" ng-model="dob" type="text" id="dob" ng-value="dob" >
                        </datepicker>
                    </div>
                    <div id="emaildiv" class="form-group col-md-6 col-sm-6">
                        <label for="email" class="col-lg-2 control-label">Email*</label>
                        <input type="text" ng-model="email" class="form-control input-sm" id="email" placeholder="" ng-value="">
                    </div>
                    <div id="studentMobilediv" class="form-group col-md-6 col-sm-6">
                        <label for="studentMobile" class="col-lg-2 control-label">Mobile*</label>
                        <input type="text" ng-model="mobile" class="form-control input-sm" id="studentMobile" placeholder="">
                    </div>
                    <div id="addressdiv" class="form-group col-md-6 col-sm-6">
                        <label for="address" class="col-lg-2 control-label">Address*</label>
                        <textarea id="address" ng-model="address" class="form-control input-sm" rows="3" ng-value=""></textarea>
                    </div>
                    <div id="citydiv" class="form-group col-md-6 col-sm-6">
                        <label for="city" class="col-lg-2 control-label">City*</label>
                        <input type="text" ng-model="city" class="form-control input-sm" id="city" placeholder="" ng-value="">
                    </div>
                    <div id="pincodediv" class="form-group col-md-6 col-sm-6">
                        <label for="pincode" class="col-lg-2 control-label">Pincode*</label>
                        <input type="text" ng-model="pincode" class="form-control input-sm" id="pincode" placeholder="" ng-value="">
                    </div>
                    <div id="aadhardiv" class="form-group col-md-6 col-sm-6">
                        <label for="aadhar" class="col-lg-6 control-label">Aadhar Number*</label>
                        <input type="text" ng-model="aadhar" class="form-control input-sm" id="aadhar" placeholder="" ng-value="">
                    </div>
                    <div id="pandiv" class="form-group col-md-6 col-sm-6">
                        <label for="pan" class="col-lg-6 control-label">Pan*</label>
                        <input type="text" ng-model="pan" class="form-control input-sm" id="pan" placeholder="" ng-value="">
                    </div>
                    <div id="bgdiv" class="form-group col-md-6 col-sm-6">
                        <label for="blood">Blood Group</label>
                        <input type="text" ng-model="bg" class="form-control input-sm" id="bg" placeholder="" ng-value="">
                    </div>
                    <div id="bankdiv" class="form-group col-md-6 col-sm-6">
                        <label for="bank">Bank Account Number</label>
                        <input type="text" ng-model="bankAcc" class="form-control input-sm" id="bank" placeholder="" ng-value="">
                    </div>
                    <div id="banknamediv" class="form-group col-md-6 col-sm-6">
                        <label for="bankName">Bank Name </label>
                        <input type="text" ng-model="bankName" class="form-control input-sm" id="bankName" placeholder="" ng-value="">
                    </div>
                    <div id="banknamediv" class="form-group col-md-6 col-sm-6">
                        <label for="branch">Bank Branch</label>
                        <input type="text" ng-model="branch" class="form-control input-sm" id="branch" placeholder="" ng-value="">
                    </div>
                    <div id="ifscdiv" class="form-group col-md-6 col-sm-6">
                        <label for="ifsc">IFSC Code</label>
                        <input type="text" ng-model="ifsc" class="form-control input-sm" id="ifsc" placeholder="" ng-value="">
                    </div>
                    <div id="subdiv" class="form-group col-md-6 col-sm-6">
                        <label for="subject" class="col-lg-6 control-label">Subject</label>
                        <input type="text" ng-model="subject" class="form-control input-sm" id="subject" placeholder="" ng-value="enquiryList[0].subject">
                    </div>
                    <div id="dobdiv" class="form-group col-md-6 col-sm-6">
                        <label for="joindate" class="control-label">Joining Date* </label>
                        <datepicker  date-format="dd/MM/yyyy" custom-class="getDayClass(date, mode)">
                        <input class="w3-input w3-border from" ng-model="joindate" type="text" id="joindate" ng-value="joindate" >
                        </datepicker>
                    </div>
                   <!--  <div class="form-group col-md-6 col-sm-6">
                        <label for="classbranch" class="col-lg-6 control-label">Branch</label>
                         <select class="form-control" ng-model="classbranch" id="classbranch">
                        <option ng-repeat="branch in singleBranchResult">{{branch.branchname}}</option>
                      </select>
                    </div> -->
                    
                    <div class="form-group col-md-6 col-sm-6" >
                    <label  class="col-lg-6 control-label"   for="city">City</label>
                        <select ng-model="cityid" ng-change="getBranches(cityid)"  class="form-control">
                         <!--  <option value="">Select City</option> -->
                          <option ng-repeat="city in result1.cities" value="{{city._id}}"> {{city.cityname}} </option>
                        </select>
                  </div>
                  <div class="form-group col-md-6 col-sm-6">
                    <label  class="col-lg-6 control-label"
                              for="branch">Branch</label>
                        <select ng-model="classbranch" class="form-control">
                          <option ng-repeat="branch in singleBranchResult" value="{{branch._id}}"> {{branch.branchname}} </option>
                        </select>
                  </div>
                    <div id="ifscdiv" class="form-group col-md-12 col-sm-12">
                        <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Staff Type
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                       <li> <a href="" target="_self" data-toggle="modal" data-target="#myModalsalary">Salary</a></li>
                       <li> <a href="" target="_self" data-toggle="modal" data-target="#myModalcontract">Contract-based</a></li>
                        </ul>
                        </div>
                    </div>
                    <div >
                        <div id="availablediv" class="form-group col-md-4 col-sm-4">
                            <label for="select">No of days available</label>
<select multiple class="form-control" id="select" ng-model="daysAvailable" data-style="btn-primary">
                          <option>Sunday</option>
                          <option>Monday</option>
                          <option>Tuesday</option>
                          <option>Wednesday</option>
                          <option>Thursday</option>
                          <option>Friday</option>
                          <option>Saturday</option>
                        </select>
                    </div>
                </div>








<!-- 
                        <label for="select" class="control-label">No of days available</label>
                        <select class="selectpicker" ng-model="daysAvailable" data-style="btn-primary" multiple>
                          <option>Sunday</option>
                          <option>Monday</option>
                          <option>Tuesday</option>
                          <option>Thursday</option>
                          <option>Friday</option>
                          <option>Saturday</option>
                        </select>
                    </div>

          -->                   <!-- <label for="sel2">Mutiple select list (hold shift to select more than one):</label>
      <select multiple class="form-control" id="sel2">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select> -->

                       <!--  <label for="select">No of days available</label>
<select multiple class="form-control" id="select" ng-model="daysAvailable" data-style="btn-primary">
                          <option>Sunday</option>
                          <option>Monday</option>
                          <option>Tuesday</option>
                          <option>Thursday</option>
                          <option>Friday</option>
                          <option>Saturday</option>
                        </select>
                    </div>
                    </div> -->

                    <!-- <div id="availdiv" class="form-group col-md-8 col-sm-8">
                        <label for="select" class="control-label">Time Availability</label>
                        <select class="selectpicker" data-style="btn-primary">
                          <optgroup label="Morning">
                            <option>8-10</option>
                            <option>10-12</option>
                          </optgroup>
                          <optgroup label="Evening">
                            <option>4-6</option>
                            <option>6-8</option>
                            <option>8-10</option>
                          </optgroup>
                        </select>
                    </div>
 -->
  <div class="form-group col-md-4 col-sm-4">
   <label class="control-label" for="startTime">Start Time </label>
    <div class="input-group" moment-picker="startTime" format="hh:mm a" inline="true">
        <input class="form-control" placeholder="Select Start time" ng-model="startTime" ng-model-options="{ updateOn: 'blur' }">
        <span class="input-group-addon">
          <i class="fa fa-clock-o"></i>
        </span>
      </div>   
  </div>

  <div class="form-group col-md-4 col-sm-4">
   <label class="control-label" for="endTime">End Time </label>
    <div class="input-group" moment-picker="endTime" format="hh:mm a">
        <input class="form-control" placeholder="Select End time" ng-model="endTime" ng-model-options="{ updateOn: 'blur' }">
        <span class="input-group-addon">
          <i class="fa fa-clock-o"></i>
        </span>
      </div>
  </div>
</div>
                    
<div class="modal fade" id="myModalsalary" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Monthly Salary
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label  class="col-sm-2 control-label"
                              for="salary">Per Month salary</label>
                    <div class="col-sm-10">
                        <input type="salary" ng-model="perMonthSal" class="form-control" 
                        id="salary"/>
                    </div>
                  </div>
                </form>
                </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                           Save changes
                </button>
          </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalcontract" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Contract Based Salary
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label  class="col-sm-2 control-label"
                              for="salary">Per Hour Rate</label>
                    <div class="col-sm-10">
                        <input type="salary" ng-model="perHourSal" class="form-control" 
                        id="salary"/>
                    </div>
                  </div>
                </form>
                </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>
                <button type="button" class="btn btn-primary">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>
                    
                    <div align="center" class="form-group col-md-12 col-sm-12">
                        <button type="submit" class="btn btn-primary" ng-click="insertStaff()" >Submit</button>
                    </div>
                </div>
        </form>
    </div>
</div>



<!-- 
<link rel="stylesheet" href="../assets/css/bootstrap-select.min.css">
        <script src="../assets/js/bootstrap-select.min.js"></script> -->
<!-- cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css
//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js
         -->
<!-- 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0/js/bootstrap-select.min.js"></script> -->
</body>
