<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">	
<link href="https://fonts.googleapis.com/css?family=Oleo+Script|Tangerine" rel="stylesheet">
<style type="text/css">
p {
  color: #669999;
}
.jumbotron {
  color: white;
  /*text-align: center;*/
  /*text-shadow: 2px 2px 8px black;*/
  min-height: 250px;
  text-indent: 5em;
}
</style>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">ESPL</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="#adminDashboard"><i class="fa fa-tachometer" aria-hidden="true"></i> </a>
        </li>
        <li class="dropdown">
          <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Students <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#student">Admitted</a></li>
            <li><a href="#enquiry">Enquiry</a></li>
          </ul>
        </li>
<!-- <li >
<a href="#feesReport">Reports </a>
</li> -->
<li class="dropdown active">
  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Staff <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#staffList">Staff Profile</a></li>
    <li class="divider"></li>
    <li><a href="#staffAttendance">Staff Attendance</a></li>
  </ul>
</li> 
<li class="dropdown">
  <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Schedule <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#createSchedule" target="_self">Yearly Schedule</a></li>
  </ul>
</li>              
</ul>
<ul class="nav navbar-nav navbar-right">
  <li><a class="open-login" href="#" target="_self" ng-show="!loggedIn"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
  <li><a href="" target="_self" ng-click="logout('/')" ng-show="loggedIn"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
</ul>
</div>
</div>
</nav>

<div style="margin-top: 70px">

  <div ng-init="getStaffInfo();editstaffflagstatus=true;">
    <div class="container-fluid">
      <div class="jumbotron row" style="background-color: #0079bf; color: whitesmoke;">
        <div class="col-md-3">
          <img src="assets/images/teacher.png" style="height: 200px;width: 200px;">
        </div>
        <div align="left" class="col-md-9">
          <h3 style="font-size: 30px; font-family: 'Montserrat', sans-serif;color: white">{{staffInfo[0].fname+" "+staffInfo[0].mname+" "+staffInfo[0].lname}}</h3>
          <br>
          <h4 style="color: white">Teaches <strong>{{staffInfo[0].subject}}</strong> At ESPL</h4>
          <br>
          <i class="fa fa-phone"></i> &emsp; {{staffInfo[0].mobile}}          
          <i class="fa fa-map-marker"></i>&emsp; {{staffInfo[0].address}}
          <i class="fa fa-envelope-o"></i>&emsp; {{staffInfo[0].email}}
        </div>
      </div>
    </div>

    <div class="container">

      <ul  class="nav nav-pills nav-justified">
<!-- <li class="active">
<a href="#1a" target="_self" data-toggle="tab">Admission</a>
</li> -->
<li><a href="#4a" target="_self" data-toggle="tab">Attendance</a>
</li>
<li><a href="#6a" target="_self" data-toggle="tab">Information</a>
</li>
<li><a href="#5a" target="_self" data-toggle="tab">Payment</a>
</li>
</ul>
<br>
<br>
<div class="tab-content clearfix">
  <div class="tab-pane active" id="4a">
    <h4>No Attendance Found</h4>
  </div>


  <div class="tab-pane" id="6a">
    <div >
      <button ng-show="showeditables=='true' && editstaffflagstatus" style="margin-left: 5px;" class="btn btn-primary btn-sm w3-right" ng-click="editStaffProfileStatus()">
        <i class="fa fa-pencil" aria-hidden="true"></i></button>
    </div>
    <div ng-show="!editstaffflagstatus"><button style="margin-left: 5px;" class="btn btn-primary btn-sm w3-right" ng-click="submitStaffProfile()">SUBMIT</button>
    </div>
    <div>
      <br>
      <br>
      <br>
      <div class="container col-md-6">
        <table class="table table-striped table-bordered">
          <tbody>

<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>DOB :</strong></td><td><span ng-show="editstaffflagstatus">{{staffInfo[0].dob}}</span><input ng-show="!editstaffflagstatus" style="width: 100%" type="text" ng-model="staffInfo[0].dob"></td> </tr>

<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>Mobile :</strong></td><td><span ng-show="editstaffflagstatus"> {{staffInfo[0].mobile}}</span><input ng-show="!editstaffflagstatus" style="width: 100%" type="text" ng-model="staffInfo[0].mobile"></td> </tr>

<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>Branch : </strong></td><td><span ng-show="editstaffflagstatus"> {{staffInfo[0].classbranch}}</span><input ng-show="!editstaffflagstatus" style="width: 100%" type="text" ng-model="staffInfo[0].classbranch"></td> </tr>

<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>Blood Group :</strong></td><td><span ng-show="editstaffflagstatus"> {{staffInfo[0].bg}}</span><input ng-show="!editstaffflagstatus" style="width: 100%" type="text" ng-model="staffInfo[0].bg"></td> </tr>

<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>Aadhar Number:</strong></td><td><span ng-show="editstaffflagstatus">{{staffInfo[0].aadhar}}</span><input ng-show="!editstaffflagstatus" style="width: 100%" type="text" ng-model="staffInfo[0].aadhar"></td> </tr>

<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>Bank Name :</strong></td><td><span ng-show="editstaffflagstatus"> {{staffInfo[0].bankName}}</span><input ng-show="!editstaffflagstatus" style="width: 100%" type="text" ng-model="staffInfo[0].bankName"></td> </tr>

<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>IFSC Code :</strong></td><td><span ng-show="editstaffflagstatus"> {{staffInfo[0].ifsc}}</span><input ng-show="!editstaffflagstatus" style="width: 100%" type="text" ng-model="staffInfo[0].ifsc"></td> </tr>

<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>Joining Date :</strong></td><td><span ng-show="editstaffflagstatus"> {{staffInfo[0].joindate}}</span><input ng-show="!editstaffflagstatus" style="width: 100%" type="text" ng-model="staffInfo[0].joindate"></td> </tr>

<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>Time Slots Available :</strong></td><td><span ng-show="editstaffflagstatus"> {{staffInfo[0].start+" To "+staffInfo[0].end}}</span><input ng-show="!editstaffflagstatus" style="width: 100%" type="text" ng-model="staffInfo[0].start">
<input ng-show="!editstaffflagstatus" style="width: 100%" type="text" ng-model="staffInfo[0].end"></td> </tr>

<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>City :</strong></td><td><span ng-show="editstaffflagstatus"> {{staffInfo[0].city}}</span><input ng-show="!editstaffflagstatus" style="width: 100%" type="text" ng-model="staffInfo[0].city"></td> </tr>
    
    </tbody>
  </table>           
</div>
<br>
<br>

<div class="container col-md-6">
<table class="table table-striped table-bordered">
<tbody>

<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>Gender :</strong></td><td><span ng-show="editstaffflagstatus"> {{staffInfo[0].gender}}</span><input ng-show="!editstaffflagstatus" style="width: 100%" type="text" ng-model="staffInfo[0].gender"></td> </tr>

<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>Address :</strong></td><td><span ng-show="editstaffflagstatus">  {{staffInfo[0].address}}</span><input ng-show="!editstaffflagstatus" style="width: 100%" type="text" ng-model="staffInfo[0].address"></td> </tr>

<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>Email : </strong></td><td><span ng-show="editstaffflagstatus"> {{staffInfo[0].email}}</span><input ng-show="!editstaffflagstatus" style="width: 100%" type="text" ng-model="staffInfo[0].email"></td> </tr>

<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>PAN Number :</strong></td><td><span ng-show="editstaffflagstatus"> {{staffInfo[0].pan}}</span><input ng-show="!editstaffflagstatus" style="width: 100%" type="text" ng-model="staffInfo[0].pan"></td> </tr>

<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>Bank Account Number :</strong></td><td><span ng-show="editstaffflagstatus"> {{staffInfo[0].bankAcc}}</span><input ng-show="!editstaffflagstatus" style="width: 100%" type="text" ng-model="staffInfo[0].bankAcc"></td> </tr>

<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>Per Month Salary :</strong></td><td><span ng-show="editstaffflagstatus"> {{staffInfo[0].perMonthSal}}</span><input ng-show="!editstaffflagstatus" style="width: 100%" type="text" ng-model="staffInfo[0].perMonthSal"></td> </tr>

<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>Days Available :</strong></td><td><span ng-show="editstaffflagstatus"> {{staffInfo[0].daysAvailable[]}}</span><input ng-show="!editstaffflagstatus" style="width: 100%" type="text" ng-model="staffInfo[0].daysAvailable[]"></td> </tr>
<!-- <tr> <td width="33%"><strong>Mother Ofc Address :</strong></td><td>{{staffInfo[0].motherOfficeAddress}}</td> </tr> -->
<tr> <td width="33%" style="background-color: #343638; color: whitesmoke; font-family: 'Montserrat', sans-serif;"><strong>Pin Code:</strong></td><td><span ng-show="editstaffflagstatus"> {{staffInfo[0].pincode}}</span><input ng-show="!editstaffflagstatus" style="width: 100%" type="text" ng-model="staffInfo[0].pincode"></td> </tr>

</tbody>
</table>
</div>
</div>
</div>
 
<div class="tab-pane" id="5a">
    <h4>No Payment Details Yet</h4>
  </div>
</div>
</div>
</div>
</div>
</body>
</html>