<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" id="sidebarCollapse" class="btn btn-primary btn-xs navbar-brand">
          ESPL
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="#adminDashboard"><i class="fa fa-tachometer fa-lg" aria-hidden="true"></i> Dashboard</a>
        </li>
        <li class="dropdown">
          <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Students <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#student">Admitted</a></li>
            <li ng-show="loggedIn"><a href="#enquiry">Enquiry</a></li>
            <li ng-show="loggedIn"><a href="#feesReport">Fee Reports</a></li>
          </ul>
        </li>
        <li ng-show="loggedIn" class="dropdown active">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Staff <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#staffList">Staff List</a></li>
            <li><a href="#staffAttendance">Staff Attendance</a></li>
          </ul>
        </li>
        <li><a href="#viewDiscounts">Discounts</a></li>     
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="loggedIn"><a ng-click="getCities();" href="#message"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></li>
        <li><a href="#search"><i class="fa fa-search fa-lg" aria-hidden="true"></i></a></li>
        <li><a href="#adminpanel" ng-show="loggedIn && showeditables=='true'"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></a></li>
        <li><a data-toggle="modal" data-target="#loginModal" href="#" target="_self" ng-show="!loggedIn"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
        <li>
          <div class="dropdown" ng-show="loggedIn">
            <button style="display: block; margin-top: 15px;" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i> {{loginData.staffname}}
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#changepwd"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a></li>
                <li><a href="" target="_self" ng-click="logout('/')"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div style="margin-top: 65px">

    <!-- <ul class="breadcrumb">
      <li><a href="#">Staff</a></li>
      <li>Staff Attendance</li>
    </ul> -->

    <div class="container" ng-init="getTodaysTime();getStaffList();getEmployeeList();getBatchforStaffAttendance();getBranchforStaffAttendance();">

      <div style="margin-top: 50px" class="panel panel-primary">
        <div class="panel-heading w3-center">
          	<label ng-show="!showeditables=='true'" class="control-label" ng-model="today" for="today">Attendance On : {{ today | date:'fullDate'}}</label>
            <label ng-show="showeditables=='true'" class="control-label" ng-model="today" for="today">Attendance On : {{ today | date:'fullDate'}}</label>
        </div>
        <div class="panel-body">
      <!-- <div style="margin-top: 10px" class="well">
        <label class="control-label" ng-model="today" for="today">Dated : {{ today | date:'fullDate'}}</label>
      </div> -->

      <div>
        <ul class="nav nav-tabs nav-justified w3-white">
          <li class="active"><a data-target="#home" data-toggle="tab">Teacher Attendance</a></li>
          <li><a data-target="#profile" data-toggle="tab">Employee Attendance</a></li>
          <li><a data-target="#supervisor" data-toggle="tab">Supervisor Attendance</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="home">
            <div class="row">
              <br>
              <br>

              <div class="form-group col-xs-3" ng-show="showeditables=='true'">
              	<label class="control-label">For Date: </label>
              	<datepicker date-format="dd-MM-yyyy">
					<input class="form-control" type="text" id="ttDate" ng-model="today">
				</datepicker>
              </div>

              <div class="form-group col-xs-3">
                <label  class="control-label">Select Staff</label>
                <select  ng-model="staffd" class="form-control input-group-lg">
                  <option ng-repeat="staff in staffs | filter: {stafftype: 'Teacher'}" value="{{staff}}"> {{staff.fname+" "+staff.lname}} </option>
                </select>   
              </div>
              <div class="form-group col-xs-3">
                <label for="select" class="control-label">Select Batch</label>
                <select class="form-control input-group-lg" ng-model="batch" ng-change="getSubjects(batch);">
                  <option ng-repeat="batch in batches">{{batch}}</option>
                </select>
              </div>

              <div class="form-group col-xs-3">
                <label for="select" class="control-label">Select Subject</label>
                <select class="form-control input-group-lg" ng-model="subject" ng-change="getTopics(batch,subject);">
                  <option value="" selected disabled>Select Subject</option>
                  <option ng-repeat="subject in subjects">{{subject}}</option>
                </select>
              </div>
              <div class="form-group col-xs-3">
                <label for="select" class="control-label">Select Topic</label>
                <select class="form-control input-group-lg" ng-model="topic">
                  <option value="" selected disabled>Select Topic</option>
                  <option ng-repeat="topic in topics">{{topic.topicname}}</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-xs-3">
                <label class="control-label" for="startTime">Start Time</label>
                <!-- <input class="form-control" type="time" name="stime" ng-model="startTime"> -->
                <div class="input-group" moment-picker="startTime" format="hh:mm a" inline="true">
                  <input class="form-control" placeholder="Select Start time" ng-model="startTime" ng-model-options="{ updateOn: 'blur' }">
                  <span class="input-group-addon">
                    <i class="fa fa-clock-o"></i>
                  </span>
                </div>

<!-- <div class="input-group col-sm-12">
<div class="col-sm-4">
<select class="form-control" ng-model="startTimeHour">
<option value="" selected disabled>hh</option>
<option ng-repeat="hour in [1,2,3,4,5,6,7,8,9,10,11,12]">{{hour}}</option>
</select>
</div>
<div class="col-sm-4">
<select class="form-control" ng-model="startTimeMin">
<option value="" selected disabled>mm</option>
<option ng-repeat="minute in minutes">{{minute}}</option>
</select>
</div>
<div class="col-sm-4">
<select class="form-control" ng-model="startTimeNoon">
<option value="am" selected>am</option>
<option value="pm">pm</option>
</select>
</div>       
</div>    -->
</div>

<div class="form-group col-xs-3">
  <label class="control-label" for="endTime">End Time</label>
  <!-- <input class="form-control" type="time" name="stime" ng-model="endTime"> -->
  <div class="input-group" moment-picker="endTime" format="hh:mm a">
    <input class="form-control" placeholder="Select End time" ng-model="endTime" ng-model-options="{ updateOn: 'blur' }">
    <span class="input-group-addon">
      <i class="fa fa-clock-o"></i>
    </span>
  </div>
</div>
<!-- <div class="form-group col-xs-3">
  <mdp-time-picker mdp-format="hh:mm a" mdp-auto-switch="false" ng-model="newtt[$index].stime"></mdp-time-picker>

</div> -->
<!-- <div class="input-group col-sm-12">
<div class="col-sm-4">
<select class="form-control" ng-model="endTimeHour">
<option value="" selected disabled>hh</option>
<option ng-repeat="hour in [1,2,3,4,5,6,7,8,9,10,11,12]">{{hour}}</option>
</select>
</div>
<div class="col-sm-4">
<select class="form-control" ng-model="endTimeMin">
<option value="" selected disabled>mm</option>
<option ng-repeat="minute in minutes">{{minute}}</option>
</select>
</div>
<div class="col-sm-4">
<select class="form-control" ng-model="endTimeNoon">
<option selected value="am">am</option>
<option value="pm">pm</option>
</select>
</div>       
</div> -->

</div>
<div class="w3-center">
  <!-- <button type="button" class="btn btn-success" ng-click="saveAttendance();">Save</button> -->
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmAtt" ng-click="calculateDuration()">Mark Attendance</button>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmAtt" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirm Attendance</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <tbody>
            <tr><td>Date :</td><td>{{ today | date:'fullDate'}}</td></tr>
            <tr><td>Staff Name :</td><td>{{staffname}}</td></tr>
            <tr><td>Batch :</td><td>{{batch}}</td></tr>
            <tr><td>Subject :</td><td>{{subject}}</td></tr>
            <tr><td>Topic :</td><td>{{topic}}</td></tr>
            <tr><td>Timing :</td><td>{{startTime}} to {{endTime}}</td></tr>
            <tr><td>Duration :</td><td>{{totallectureminutes}} min</td></tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="saveAttendance();">Confirm</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="tab-pane fade" id="profile">
<br>
              <br>
              <br>
  <div class="form-group col-xs-3">
    <label  class="control-label">Select Staff</label>
    <select  ng-model="staffd" class="form-control input-group-lg">
      <option ng-repeat="staff in emp" value="{{staff}}"> {{staff.fname+" "+staff.lname}} </option>
    </select>   
  </div>
  <div class="form-group col-xs-3">
    <label for="select" class="control-label">Select Branch</label>
    <select ng-model="branch" class="form-control input-group-lg">
      <option ng-repeat="branch in branches" ng-value="branch.branchname">{{branch.branchname}}</option></select>
    </div>

    <div class="form-group col-xs-3">
      <label class="control-label" for="startTime">Start Time</label> 
            <div class="input-group" moment-picker="startTime" format="hh:mm a" inline="true">
        <input class="form-control" placeholder="Select Start time" ng-model="startTime" ng-model-options="{ updateOn: 'blur' }">
        <span class="input-group-addon">
          <i class="fa fa-clock-o"></i>
        </span>
      </div>
    </div>

    <div class="form-group col-xs-3">
      <label class="control-label" for="endTime">End Time</label>
      <div class="input-group" moment-picker="endTime" format="hh:mm a">
        <input class="form-control" placeholder="Select End time" ng-model="endTime" ng-model-options="{ updateOn: 'blur' }">
        <span class="input-group-addon">
          <i class="fa fa-clock-o"></i>
        </span>
      </div>
    </div>

    <div class="w3-center">
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmempattendance" ng-click="calculateDuration();">Mark Attendance</button>
</div>

<div class="modal fade" id="confirmempattendance" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirm Attendance</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <tbody>
            <tr><td>Date :</td><td>{{ today | date:'fullDate'}}</td></tr>
            <tr><td>Staff Name :</td><td>{{staffname}}</td></tr>
            <tr><td>Branch :</td><td>{{branch}}</td></tr>
            <tr><td>Timing :</td><td>{{startTime}} to {{endTime}}</td></tr>
            <tr><td>Duration :</td><td>{{totallectureminutes}} min</td></tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="saveEmployeeAttendance();" data-dismiss="modal">Confirm</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div> -->


<!-- NEW CODE BY CODER_GUY -->

<div class="tab-pane fade" id="profile">
  <br>
  <br>
  <br>

  <!-- <div class="alert alert-danger">
    <h3>WORK IN PROGRESSS !!
    PLEASE DO NOT MARK ATTENDANCE</h3>
  </div> -->

	<div class="form-group col-xs-3" ng-show="showeditables=='true'">
		<label class="control-label">For Date: </label>
		<datepicker date-format="dd-MM-yyyy">
		<input class="form-control" type="text" id="ttDate" ng-model="today">
	</datepicker>
	</div>

  <div class="form-group col-xs-3">
    <label  class="control-label">Select Staff</label>
    <select  ng-model="staffd" class="form-control input-group-lg">
      <option ng-repeat="staff in emp" value="{{staff}}"> {{staff.fname+" "+staff.lname}} </option>
    </select>   
  </div>


  <div class="form-group col-xs-3">
    <label class="control-label" for="sTime">Time</label> 
    <div class="input-group" moment-picker="sTime" format="hh:mm" inline="true">
      <input class="form-control" placeholder="Select Time" ng-model="sTime" ng-model-options="{ updateOn: 'blur' }">
      <span class="input-group-addon">
        <i class="fa fa-clock-o"></i>
      </span>
    </div>
  </div>

  <div class="w3-center">
    <button type="button" class="btn btn-success" ng-click="markEmpAttendance();">Mark Attendance</button>
  </div>
</div>

<!-- NEW CODE -->

<!--For  Supervisor-->
          <div class="tab-pane fade" id="supervisor">
            <div class="row">
              <br>
              <br>
              <div class="form-group col-xs-3" ng-show="showeditables=='true'">
                <label class="control-label">For Date: </label>
                <datepicker date-format="dd-MM-yyyy">
                  <input class="form-control" type="text" id="ttDate" ng-model="today">
                </datepicker>
              </div>

              <div class="form-group col-xs-3">
                <label  class="control-label">Select Staff</label>
                <select  ng-model="staffd" class="form-control input-group-lg">
                  <option ng-repeat="staff in staffs | filter: {stafftype: 'Supervisor'}" value="{{staff}}"> {{staff.fname+" "+staff.lname}} </option>
                </select>   
              </div>
              <div class="form-group col-xs-3">
                <label for="select" class="control-label">Select Batch</label>
                <select class="form-control input-group-lg" ng-model="batch">
                  <option ng-repeat="batch in batches">{{batch}}</option>
                </select>
              </div>

              <!-- <div class="form-group col-xs-3">
                <label for="select" class="control-label">Select Subject</label>
                <select class="form-control input-group-lg" ng-model="subject" ng-init="subject == 'supervision'" disabled="">
                  <option value="" selected disabled>Supervision</option>
                </select>
              </div>
              <div class="form-group col-xs-3">
                <label for="select" class="control-label">Select Topic</label>
                <select class="form-control input-group-lg" ng-model="topic">
                  <option value="" selected>--Select Topic--</option>
                  <option value="supervision">Supervision</option>
                </select>
              </div> -->
            </div>

            <div class="row">
              <div class="form-group col-xs-3">
                <label class="control-label" for="startTime">Start Time</label>
                <!-- <input class="form-control" type="time" name="stime" ng-model="startTime"> -->
                <div class="input-group" moment-picker="startTime" format="hh:mm a" inline="true">
                  <input class="form-control" placeholder="Select Start time" ng-model="startTime" ng-model-options="{ updateOn: 'blur' }">
                  <span class="input-group-addon">
                    <i class="fa fa-clock-o"></i>
                  </span>
                </div>
              </div>

              <div class="form-group col-xs-3">
                <label class="control-label" for="endTime">End Time</label>
                <!-- <input class="form-control" type="time" name="stime" ng-model="endTime"> -->
                <div class="input-group" moment-picker="endTime" format="hh:mm a">
                  <input class="form-control" placeholder="Select End time" ng-model="endTime" ng-model-options="{ updateOn: 'blur' }">
                  <span class="input-group-addon">
                    <i class="fa fa-clock-o"></i>
                  </span>
                </div>
              </div>
<!-- <div class="form-group col-xs-3">
  <mdp-time-picker mdp-format="hh:mm a" mdp-auto-switch="false" ng-model="newtt[$index].stime"></mdp-time-picker>

</div> -->
<!-- <div class="input-group col-sm-12">
<div class="col-sm-4">
<select class="form-control" ng-model="endTimeHour">
<option value="" selected disabled>hh</option>
<option ng-repeat="hour in [1,2,3,4,5,6,7,8,9,10,11,12]">{{hour}}</option>
</select>
</div>
<div class="col-sm-4">
<select class="form-control" ng-model="endTimeMin">
<option value="" selected disabled>mm</option>
<option ng-repeat="minute in minutes">{{minute}}</option>
</select>
</div>
<div class="col-sm-4">
<select class="form-control" ng-model="endTimeNoon">
<option selected value="am">am</option>
<option value="pm">pm</option>
</select>
</div>       
</div> -->

</div>
<div class="w3-center">
  <!-- <button type="button" class="btn btn-success" ng-click="saveAttendance();">Save</button> -->
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmAtt2" ng-click="calculateDuration()">Mark Attendance</button>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmAtt2" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirm Attendance</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <tbody>
            <tr><td>Date :</td><td>{{ today | date:'fullDate'}}</td></tr>
            <tr><td>Staff Name :</td><td>{{staffname}}</td></tr>
            <tr><td>Batch :</td><td>{{batch}}</td></tr>
            <!-- <tr><td>Subject :</td><td> {{subject}} </td></tr>
            <tr><td>Topic :</td><td> {{topic}} </td></tr> -->
            <tr><td>Timing :</td><td>{{startTime}} to {{endTime}}</td></tr>
            <tr><td>Duration :</td><td>{{totallectureminutes}} min</td></tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="saveSupervisorAttendance();">Confirm</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




</div>
</div>
</div>
</div>
</div>
</div>

<script>
$(document).ready(function(){
  $('#sidebarCollapse').on('click', function () {
             $('#sidebar').toggleClass('active');
             $('#main').toggleClass('active');
         });
});
</script>
